{% extends "account/sign_base.html" %}
{% load static %}
{% load i18n %}
{% load account %}

{% block title %}비밀번호 분실 신고{% endblock %}
{% block custom_style %}
    <link href="{% static 'home/css/signin.css' %}" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
{% endblock %}
{% block content %}

    <main class="form-signin">
        <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            <img class="mb-4" src="{% static 'home/images/logo.png' %}" alt="" width="200" height="90">

            <p class="h5 my-3">비밀번호를 분실하였나요?</p>

            <p><strong>goda.soft.studio@gmail.com</strong> <br>
                또는
                <a href="https://open.kakao.com/o/gV6L2Ged" class="text-decoration-none">
                    <img src="{% static 'home/images/kakaolink_btn_small_ov.png' %}" alt="이미지 오류"
                         style="width: 15px; height: 15px"
                         class="mb-1"> 집에가자 오픈카톡</a>으로 <br>
                연락주시면 최대한 빠른 시일 내<br>
                도와 드리도록 하겠습니다.</p>
        </form>

    </main>

{% endblock %}
