{% extends "account/sign_base.html" %}

{% load widget_tweaks %}
{% load account socialaccount %}
{% load static %}


{% block title %}회원가입{% endblock %}

{% block custom_style %}
    <link href="{% static 'home/css/signin.css' %}" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
{% endblock %}

{% block content %}

    <main class="form-signin">


        <form class="login" id="signup_form" method="POST" action="{% url 'account_signup' %}">
            {% csrf_token %}

            <img class="mb-4" src="{% static 'home/images/logo.png' %}" alt="" width="200" height="90">

            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div class="alert alert-error px-0 py-0 my-1">
                            <strong class="small">{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-error px-0 py-0 my-1">
                        <strong class="small">{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}

            <div class="form-floating">
                {% render_field form.email type="email" class="form-control" id="Email" placeholder="example@example.com" name="email" autocomplete="email" %}
                <label for="Email">이메일</label>
            </div>

            <div class="form-floating">
                {% render_field form.username type="text" class="form-control" id="ID" placeholder="example" name="username" autocomplete="username" minlength="1" maxlength="150" %}
                <label for="ID">아이디</label>
            </div>

            <div class="form-floating">
                {% render_field form.password1 type="password" class="form-control" id="Password1" placeholder="password" name="password1" autocomplete="new-password" %}
                <label for="Password1">비밀번호</label>
            </div>

            <div class="form-floating">
                {% render_field form.password2 type="password" class="form-control" id="Password2" placeholder="password confirm" name="password2" %}
                <label for="Password2">비밀번호 확인</label>
            </div>


            {#            {{ form.as_p }}#}


            {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}

            <button class="primaryAction w-100 btn btn-lg btn-primary mt-3" type="submit">회원가입</button>
        </form>


        <div class="row row-cols-1 mt-3 mb-5">
            <div class="col">
                <a href="{% provider_login_url 'google' %}" role="button"
                   class="btn btn-outline-dark btn-block btn-sm my-1 w-100">
                    <i class="fab fa-google" style="color: green"></i>&nbsp; 구글 계정으로 로그인
                </a>
            </div>

            <div class="col">
                <a href="{% provider_login_url 'facebook' %}" role="button"
                   class="btn btn-outline-dark btn-block btn-sm my-1 w-100">
                    <i class="fab fa-facebook-square" style="color: blue"></i>&nbsp; 페이스북으로 로그인
                </a>
            </div>

            <div class="col">
                <a href="/accounts/login/" role="button"
                   class="btn btn-outline-dark btn-block btn-sm my-1 w-100">
                    <i class="fas fa-sign-in-alt text-muted"></i>&nbsp; 로그인
                </a>
            </div>
        </div>

        <div class="d-block mt-5">
            <a class="small text-muted text-decoration-none" href="{% url "home:privacy" %}">개인정보처리방침</a>
        </div>

    </main>



{% endblock %}
