{% extends 'forum/base.html' %}
{% load static %}

{% block head-title %}
    Contributors
{% endblock %}

{% block custom_style %}
    <link href="{% static 'forum/css/scroll_nav.css' %}" rel="stylesheet" type="text/css" media="screen">
{% endblock %}

{% block main-area %}

    <!-- Sub Banner -->
    {% include 'home/home_sub_banner.html' %}


    <div class="my-3 p-3 bg-body rounded shadow-sm">

        <div class="container">
            <h5 class="mb-4">Contributors :</h5>
            <p class="text-muted m-0 mb-4">
                <i class="far fa-user"></i> 가입자 <span
                    class="badge small bg-secondary rounded-pill">{{ num_user }}</span>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <i class="far fa-calendar-alt"></i> 실출근계산기 <span
                    class="badge bg-secondary rounded-pill">{{ num_calculator }}</span>
            </p>
            <div class="m-2">
                <p class="text-muted m-0"><i class="far fa-edit"></i> 게시글 최초 작성자</p>
                <p class="small m-3 mt-1 fw-bold" style="color: navy">fakearmy007<i class="fas fa-feather-alt"></i></p>

                <p class="text-muted m-0"><i class="fas fa-search"></i> 테스트 및 검증 조언</p>
                <p class="small m-3 mt-1 fw-bold" style="color: rebeccapurple">donghyuk0823<i class="fas fa-hands-helping"></i></p>

                <p class="text-muted m-0"><i class="fas fa-campground"></i> 생활관 최초 생성</p>
                <p class="small m-3 mt-1">Who?</p>

                <p class="text-muted m-0"><i class="fas fa-users"></i> 생활관 만원 최초 달성</p>
                <p class="small m-3 mt-1">Who?</p>
            </div>

            <p class="small m-2 mt-4">
                <small class="text-muted">
                    안녕하세요, 고다입니다.<br>

                    커뮤니티 활성화에 도움을 주신 분들께 조금이라도 선물을 드릴 수 있도록
                    Comtirbution 페이지를 오픈했습니다.<br><br>

                    오늘도 집에가자를 이용해주셔서 감사합니다.<br>
                </small>
            </p>

        </div>
    </div>


{% endblock %}
