{% load humanize %}
{% load static %}

<div class="d-flex justify-content-between align-items-start p-3 mb-3 rounded shadow-sm text-white bg-success">

    <div class="lh-1">
        <a href='https://play.google.com/store/apps/details?id=com.hustay.swing.d6cf5a98e91a94ddfb08b1c9a7644b9a8&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img
                alt='다운로드하기 Google Play'
                src='{% static 'home/images/play_download.png' %}'
                style="height: 40px">
        </a>
    </div>

    {% with user_calculator=user.calculator_set.first user_invitations=user.calculator_set.first.invitation_set %}
        {% if user.is_authenticated and user_calculator and user_invitations.exists %}

            <a href="{% url "barracks:invitation_list" %}" class="btn position-relative btn-sm rounded btn-primary">
                초대장
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill fw-bold"
                      style="background-color: #6495ED ">
                     {{ user_invitations.count }}+
                    <span class="visually-hidden">unread messages</span>
                    </span>
            </a>

        {% else %}
            <div class="float-end small">
                <i class="fas fa-viruses"></i><small class="small">
                {{ decided_count|intcomma }}(&#9652;{{ today_decided_count|intcomma }})</small>
            </div>
        {% endif %}




    {% endwith %}


</div>