{% load static %}
<div class="p-3 rounded text-success bg-light my-3">
    <div class="row">

        <div class="col-auto mb-1">
            <img class="w-100" src="{% static 'home/images/logo.png' %}" alt="이미지 오류">
        </div>

        <div class="col">
            <p class="my-1">휴가/휴일을 제외한 실출근을 확인해보세요!</p>
            <a href="#howtouse" class="text-success fw-bold mx-1">How to use?</a>
            <a href="https://open.kakao.com/o/gV6L2Ged" class="text-primary text-decoration-none mx-1 fw-bold">
                <img src="{% static 'home/images/kakaolink_btn_small_ov.png' %}" alt="이미지 오류"
                     style="width: 20px; height: 20px">
                <small>오픈카톡 문의</small>
            </a>
            <div class="p-2 mt-1 text-white rounded bg-warning">
                <h3 class=""><small>New Update 생활관</small></h3>
                <p class="my-0 fw-bold text-secondary"><small>친구들과 복무율, 실출근, 휴가 비교를 한번에</small></p>
                <a href="{% url "barracks:barracks_detail" 3 %}" class="text-white text-decoration-none small">
                    <i class="fas fa-external-link-alt"></i> 생활관 구경하기</a>
            </div>

        </div>
    </div>

</div>

