{% load humanize %}


<div class="d-flex justify-content-between align-items-start p-3 mb-3 rounded shadow-sm text-white bg-success">

    <div class="lh-1">
        <h1 class="h6 mb-0 lh-1">실출근 계산기</h1>
        <small>since 2021. 5. 21</small>
    </div>

    {% with user_calculator=user.calculator_set.first user_invitations=user.calculator_set.first.invitation_set %}
        {% if user.is_authenticated and user_calculator and user_invitations.exists %}

            <a href="{% url "barracks:invitation_list" %}" class="btn position-relative btn-sm rounded btn-primary">
                초대장
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill fw-bold"
                      style="background-color: #6495ED ">
                     {{ user_invitations.count }}+
                    <span class="visually-hidden">unread messages</span>
                    </span>
            </a>

        {% else %}
            <div class="float-end small">
                <i class="fas fa-viruses"></i><small class="small">
                {{ decided_count|intcomma }}(&#9652;{{ today_decided_count|intcomma }})</small>
            </div>
        {% endif %}




    {% endwith %}


</div>