<!-- Side-->
<!--suppress CheckEmptyScriptTag -->
<div class="col-md-3">
    <div class="position-sticky" style="top: 2rem;">

        <div class="container px-2 py-2" id="icon-grid">
            <h4 class="h2 pb-2 border-bottom text-shadow-1">커뮤니티</h4>

            <div class="row row-cols-1 g-4 pt-5 pt-2">

                {% for category in categories %}

                    <div class="col d-flex align-items-start">
                        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
                            <use xlink:href="#category_tag"/>
                        </svg>

                        <div>
                            <a class="h5 fw-bold mb-0 text-dark text-decoration-none"
                               href="{% url 'category_post' category.slug %}">
                                {{ category.name }} 게시판
                                <span class="badge text-white rounded-pill align-text-bottom"
                                      style="background-color: lightgray">
                                    {{ category.post_set.count }}
                                </span>
                            </a>
                            {% with recently_post=category.post_set.last %}
                                <p class="mb-0">
                                    {{ recently_post.title|truncatechars:22 }}
                                    <span class="small text-muted"><small>{{ recently_post.subtract }}</small></span>
                                </p>
                            {% endwith %}
                        </div>
                    </div>

                {% endfor %}

            </div>
        </div>


        <div class="p-4">
            <div class="bg-light rounded p-4">
                <p class="small">
                    <small class="text-muted">
                        안녕하세요, 고다입니다. <br>베타 테스트를 통해 모두가 함께 '집에가자'를 만들어 가고자 합니다.
                        버그나 개선점 등을 자유롭게
                        <a href="{% url 'category_post' '아이디어' %}" class="text-decoration-none text-primary">아이디어
                            게시판</a>에
                        올려주시면 감사하겠습니다.<br>
                    </small>
                </p>
                <p class="text-success fw-bold small">
                    국군 장병 여러분!<br>
                    오늘 하루도 고생하셨습니다.
                </p>
            </div>
        </div>
    </div>
</div>