{% load static %}

<div class="p-3 bg-body rounded shadow-sm">
    <article>
        <h2 class="h5 blog-post-title">집에가자란?</h2>

        <p class="text-muted">2021-05-21 by <strong>goda</strong></p>

        <p class="small">
            집에가자는 군복무 실출근 계산기를 서비스하는 커뮤니티입니다. 계산기를 통해 현재까지의 실출근율과 남은 출근일수를 알아볼 수 있습니다.
        </p>

        <figure>
            <blockquote class="blockquote">
                <p class="small"><small><strong>실출근</strong></small></p>
            </blockquote>
            <figcaption class="blockquote-footer">
                <small>남은 복무기간 중 휴가와 휴일을 제외한 출근 일수</small>
            </figcaption>
        </figure>

        <hr>

        <div class="d-flex align-items-center p-2 my-2 rounded shadow-sm text-white" style="background-color: #6f42c1">
            <div class="lh-1">
                <h4 id="howtouse">How to use?</h4>
            </div>
        </div>


        <ol>
            <li>회원가입/로그인</li>
            <li>실출근 계산기 만들기</li>
            <li>휴가 등록</li>
            <li>휴일 등록</li>
            <li>친구 실출근을 검색하기</li>

        </ol>

        <hr>

        <h6><strong>1. 회원가입과 로그인</strong></h6>
        <p>실출근 계산기를 이용하기 위해서는 로그인이 필요합니다. 회원가입과 로그인은 상단 메뉴의 '로그인' 탭을 통해 할 수 있습니다.</p>

        <hr>

        <h6><strong>2. 계산기와 달력 만들기</strong></h6>
        <p>계산기는 메뉴의 실출근 계산기 탭을 통해 만들 수 있습니다. 탭을 클릭하면 계산기 생성 페이지로 넘어가게 됩니다.</p>
        <p>계산기의 별명과 입대일, 전역일을 입력하고 생성 버튼을 누르면 '집에가자' 서버가 계산기를 준비합니다. 계산기 생성시 약간의 시간이
            소요될 수 있습니다.</p>
        <pre class="text-primary"><code>휴일 기본값 : 공휴일, 주말</code></pre>
        <p>계산기는 기본값으로 공휴일과, 주말을 실출근에 제외합니다. 이는 휴일 수정 버튼을 통해 다시 수정할 수 있습니다.</p>

        <hr>
        <h6><strong>3. 휴가 등록</strong></h6>
        <p>실출근 계산기가 만들어지면 휴가를 등록할 수 있습니다. 등록 버튼을 통해 나의 휴가를 계산기와 달력에 추가해보세요.</p>

        <hr>

        <h6><strong>4. 휴일 등록</strong></h6>
        <p>실출근 계산기는 출근일을 쉽게 파악할 수 있도록 달력을 만들어 줍니다. 휴일 수정을 통해 휴일을 삭제하거나 추가해보세요</p>
        <pre class="text-primary"><code>휴일 수정 페이지에서는<br>휴일만 수정할 수 있습니다.</code></pre>

        <hr>

        <h6 id="howtosearch"><strong>5. 친구 실출근을 검색하기</strong></h6>
        <p>실출근 계산기 상단 검색바를 통해서 쉽게 친구의 실출근을 확인할 수 있습니다.</p>
        <div class="col-md-6">
            <img src="{% static 'home/images/search_calculator.jpg' %}" class="w-100" alt="사진 업로드 실패">

        </div>

        <hr>

        <h6 id="howtomake"><strong>6. 생활관 만들기</strong></h6>
        <p>생활관을 만들어 친구들과 복무율, 실출근, 휴가 등을 비교해보세요. 생활관에는 최대 5명이 참여할 수 있습니다.</p>
        <div class="col-md-6">
            <img src="{% static 'home/images/search_calculator.jpg' %}" class="w-100" alt="사진 업로드 실패">

        </div>

    </article>
</div>