<!-- Posts -->
<div id="carouselExampleDark" class="carousel carousel-dark slide border rounded shadow-sm mb-3"
     data-bs-ride="carousel">

    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
            <div class="row g-0 overflow-hidden flex-md-row mb-4 h-md-300 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <a href="{% url 'index' %}" class="text-decoration-none d-flex justify-content-between">
                        <strong class="d-inline-block mb-2 text-secondary">최근 게시글</strong>
                        <small class="d-inline-block mb-2 text-muted"><small>더 알아보기</small></small>
                    </a>
                    <!-- Most Recently-->
                    <div class="list-group-flush">
                        {% for post in most_recently_posts %}
                            <a href="{% url 'detail' post.pk %}" class="list-group-item list-group-item-action"
                               style="border: 0">
                                <div class="d-flex text-muted">
                                    <div class="pb-3 mb-0 small lh-sm border-bottom w-100">

                                        <h3 class="h6 text-dark">{{ post.title|truncatechars:30 }}</h3>
                                        <p class="pb-0 mb-1 lh-sm">
                                            {{ post.content|cut:"#"|cut:"`"|truncatechars_html:55|safe }}
                                        </p>
                                        <div class="d-flex text-muted justify-content-between small">
                                            <div class="d-inline">

                                                {% if post.category.name == "익명" %}
                                                    <strong class="text-gray-dark">익명</strong>
                                                {% else %}
                                                    <strong class="text-gray-dark">{{ post.author }}</strong>
                                                {% endif %}

                                                <div class="d-inline"> {{ post.created_at|date:'m-d H:i' }} </div>
                                            </div>
                                            <div class="d-inline">
                                                <div class="d-inline"><i
                                                        class="fas fa-heart text-danger"></i> {{ post.num_likes }}
                                                </div>
                                                <div class="d-inline"><i
                                                        class="far fa-comment text-success"></i> {{ post.num_comments }}
                                                </div>
                                                <div class="d-inline"><i
                                                        class="far fa-eye"></i> {{ post.hit_count.hits }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item" data-bs-interval="5000">
            <div class="row g-0 overflow-hidden flex-md-row mb-4 h-md-300 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <a href="{% url 'likes_post' %}" class="text-decoration-none d-flex justify-content-between">
                        <strong class="d-inline-block mb-2 text-success">특급 게시글</strong>
                        <small class="d-inline-block mb-2 text-muted"><small>더 알아보기</small></small>
                    </a>
                    <!-- Most Likes-->
                    <div class="list-group-flush">
                        {% for post in most_likes_posts %}
                            <a href="{% url 'detail' post.pk %}" class="list-group-item list-group-item-action"
                               style="border: 0">
                                <div class="d-flex text-muted">
                                    <div class="pb-3 mb-0 small lh-sm border-bottom w-100">

                                        <h3 class="h6 text-dark">{{ post.title|truncatechars:30 }}</h3>
                                        <p class="pb-0 mb-1 lh-sm">
                                            {{ post.content|cut:"#"|cut:"`"|truncatechars_html:55|safe }}
                                        </p>
                                        <div class="d-flex text-muted justify-content-between small">
                                            <div class="d-inline">

                                                {% if post.category.name == "익명" %}
                                                    <strong class="text-gray-dark">익명</strong>
                                                {% else %}
                                                    <strong class="text-gray-dark">{{ post.author }}</strong>
                                                {% endif %}

                                                <div class="d-inline"> {{ post.created_at|date:'m-d H:i' }} </div>
                                            </div>
                                            <div class="d-inline">
                                                <div class="d-inline"><i
                                                        class="fas fa-heart text-danger"></i> {{ post.num_likes }}
                                                </div>
                                                <div class="d-inline"><i
                                                        class="far fa-comment text-success"></i> {{ post.num_comments }}
                                                </div>
                                                <div class="d-inline"><i
                                                        class="far fa-eye"></i> {{ post.hit_count.hits }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item" data-bs-interval="5000">
            <div class="row g-0 overflow-hidden flex-md-row mb-4 h-md-300 position-relative">
                <div class="col p-4 d-flex flex-column position-static">

                    <a href="{% url 'popular_post' %}" class="text-decoration-none d-flex justify-content-between">
                        <strong class="d-inline-block mb-2 text-primary">인기 게시글</strong>
                        <small class="d-inline-block mb-2 text-muted"><small>더 알아보기</small></small>
                    </a>

                    <!-- Popular Post/most hits-->
                    <div class="list-group-flush">
                        {% for post in popular_posts %}
                            <a href="{% url 'detail' post.pk %}" class="list-group-item list-group-item-action"
                               style="border: 0">
                                <div class="d-flex text-muted">
                                    <div class="pb-3 mb-0 small lh-sm border-bottom w-100">

                                        <h3 class="h6 text-dark">{{ post.title|truncatechars:30 }}</h3>
                                        <p class="pb-0 mb-1 lh-sm">
                                            {{ post.content|cut:"#"|cut:"`"|truncatechars_html:55|safe }}
                                        </p>
                                        <div class="d-flex text-muted justify-content-between small">
                                            <div class="d-inline">

                                                {% if post.category.name == "익명" %}
                                                    <strong class="text-gray-dark">익명</strong>
                                                {% else %}
                                                    <strong class="text-gray-dark">{{ post.author }}</strong>
                                                {% endif %}

                                                <div class="d-inline"> {{ post.created_at|date:'m-d H:i' }} </div>
                                            </div>
                                            <div class="d-inline">
                                                <div class="d-inline"><i
                                                        class="fas fa-heart text-danger"></i> {{ post.num_likes }}
                                                </div>
                                                <div class="d-inline"><i
                                                        class="far fa-comment text-success"></i> {{ post.num_comments }}
                                                </div>
                                                <div class="d-inline"><i
                                                        class="far fa-eye"></i> {{ post.hit_count.hits }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- TroopsBarracks -->
<div id="TroopsBarracks" class="carousel carousel-dark slide border rounded shadow-sm mb-3"
     data-bs-ride="carousel">

    <div class="carousel-indicators">
        <button type="button" data-bs-target="#TroopsBarracks" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#TroopsBarracks" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>

    <div class="carousel-inner">

        <div class="carousel-item active" data-bs-interval="5000">
            <div class="row g-0 overflow-hidden flex-md-row mb-4 h-md-300 position-relative">

                <div class="col p-4 d-flex flex-column position-static">
                    <a href="{% url 'troop_review:index' %}"
                       class="text-decoration-none d-flex justify-content-between">
                        <strong class="d-inline-block mb-2 text-primary">인기 부대리뷰</strong>
                        <small class="d-inline-block mb-2 text-muted"><small>더 알아보기</small></small>
                    </a>

                    <!-- Popular Troops -->
                    <div class="list-group-flush">

                        {% for troop in popular_troops %}
                            <a href="{% url 'troop_review:detail' troop.pk %}"
                               class="list-group-item list-group-item-action"
                               style="border: 0">
                                <div class="d-flex text-muted pt-3">
                                    <div class="pb-3 mb-0 small lh-sm border-bottom w-100">

                                        <h3 class="h6 text-dark">{{ troop.name|truncatechars:35 }}</h3>

                                        <p class="pb-0 mb-1 lh-sm">
                                            {{ troop.first.content|truncatechars_html:80 }}
                                        </p>

                                        <div class="d-flex text-muted justify-content-between">
                                            <div class="d-inline">
                                                {% for i in ""|rjust:troop.get_avg_star_rating %}
                                                    <i class="fas fa-star text-warning"></i>
                                                {% endfor %}
                                            </div>

                                            <div class="d-inline mb-1">
                                                <div class="d-inline"><i
                                                        class="far fa-comment"></i> {{ troop.get_num_reivews }}
                                                </div>
                                                <div class="d-inline"><i
                                                        class="far fa-eye"></i> {{ troop.hit_count.hits }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}

                    </div>
                </div>

            </div>
        </div>

        <div class="carousel-item" data-bs-interval="5000">
            <div class="row g-0 overflow-hidden flex-md-row mb-4 h-md-300 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <a href="{% url 'barracks:barracks_list' %}"
                       class="text-decoration-none d-flex justify-content-between">
                        <strong class="d-inline-block mb-2 text-success">인기 생활관</strong>
                        <small class="d-inline-block mb-2 text-muted"><small>더 알아보기</small></small>
                    </a>

                    <!-- Popular Barracks -->
                    <div class="list-group-flush">

                        {% for barracks in popular_barracks %}

                            <a href="{% url 'barracks:barracks_detail' barracks.pk %}"
                               class="list-group-item list-group-item-action" style="border: 0">
                                <div class="d-flex text-muted pt-3">
                                    <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                                        <div class="d-flex justify-content-between">
                                            <h3 class="d-inline h6 text-dark">{{ barracks.name }}</h3>

                                            <div class="d-inline mb-1">
                                                <!-- Barracks Likes
                                    <div class="d-inline"><i class="fas fa-heart"></i> {{ post.num_likes }}</div>
                                    -->
                                                <div class="d-inline"><i
                                                        class="far fa-comment"></i> {{ barracks.num_barracks }}
                                                </div>
                                                <div class="d-inline"><i
                                                        class="far fa-eye"></i> {{ barracks.hit_count.hits }}</div>
                                            </div>
                                        </div>

                                        <div class="d-inline">
                                            {% if barracks.members.exists %}
                                                {% for calculator in barracks.members.iterator %}
                                                    {{ colors.iter }}
                                                    <span class="badge rounded-pill bg-{% cycle "success" "warning" "primary" "info" "danger" %}">
                                            {{ calculator.name }}
                                        </span>
                                                {% endfor %}
                                                {% resetcycle %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>