<!-- Side-->
<div class="col-md-4">
    <div class="position-sticky" style="top: 2rem;">

        <div class="p-4 bg-light rounded">
            <h5>개발 일기</h5>
            <div class="m-1">

                <p class="mx-1 mb-0 small">v1.2.2 2021.07.25 </p>
                <p class="mx-1 small text-muted mb-0"><small>익명 게시판, 코로나 알림 기능 도입</small></p>
                <p class="mx-1 small text-muted"><small>좋아요 명칭 변경</small></p>

                <p class="mx-1 mb-0 small">v1.2.1 2021.07.24 </p>
                <p class="mx-1 small text-muted mb-0"><small>생활관 휴가 그래프 오류 수정</small></p>
                <p class="mx-1 small text-muted"><small>계산기&생활관 모델 릴레이션 개선</small></p>

                <p class="mx-1 mb-0 small">v1.2.0 2021.07.20 </p>
                <p class="mx-1 small text-muted"><small>생활관 기능 업데이트</small></p>

                <p class="mx-1 mb-0 small">v1.1.1 2021.05.24 </p>
                <p class="mx-1 small text-muted"><small>SSL 보안 업데이트</small></p>

                <p class="mx-1 mb-0 small"> v1.1.0 2021.05.22</p>
                <p class="mx-1 small text-muted"><small>실출근 계산기 검색 기능 추가</small></p>

                <p class="mx-1 mb-0 small">v1.0.1 2021.05.21 </p>
                <p class="mx-1 small text-muted"><small>전역시 계산기 열람 불가 오류 수정</small></p>

                <p class="mx-1 mb-0 small"> v1.0.0 2021.05.21 </p>
                <p class="mx-1 small text-muted"><small>베타 테스트 시작</small></p>
            </div>

            <p class="small">
                <small class="text-muted">
                    안녕하세요, 고다입니다. 베타 테스트를 통해 모두가 함께 '집에가자'를 만들어 가고자 합니다.
                    버그나 개선점 등을 자유롭게
                    <a href="{% url 'category_post' '아이디어' %}" class="text-decoration-none text-primary">아이디어 게시판</a>에
                    올려주시면 감사하겠습니다.<br>
                </small>
            </p>
            <p class="text-success fw-bold">
                국군 장병 여러분!<br>
                오늘 하루도 고생하셨습니다.
            </p>
        </div>


        <div class="p-4">
            <h4 class="">커뮤니티 게시판</h4>
            <ol class="list-unstyled mb-0">
                {% for category in categories %}
                    <li class="mb-1">
                        <a class="text-dark" href="{% url 'category_post' category.slug %}">
                            {{ category }}<span
                                class="badge bg-light text-dark rounded-pill align-text-bottom">
                                    {{ category.post_set.count }}
                                    </span>
                        </a>
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>