apiclient==1.0.4
asgiref==3.3.4
cachetools==4.2.4
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cloudinary==1.25.0
crispy-bootstrap5==0.6
cryptography==3.4.7
defusedxml==0.7.1
dj-database-url==0.5.0
Django==3.2.9
django-admin-honeypot==1.1.0
django-allauth==0.44.0
django-cloudinary-storage==0.3.0
django-crispy-forms==1.13.0
django-embed-video==1.4.0
django-etc==1.3.0
django-heroku==0.3.1
django-hitcount==1.3.3
django-markdownx==3.0.1
django-simple-ip-restrict==1.0.37
django-widget-tweaks==1.4.8
et-xmlfile==1.1.0
google-api-core==2.3.2
google-api-python-client==2.33.0
google-auth==2.3.3
google-auth-httplib2==0.1.0
googleapis-common-protos==1.54.0
gunicorn==20.1.0
httplib2==0.20.2
idna==2.10
Markdown==3.3.4
netaddr==0.8.0
numpy==1.21.4
oauth2client==4.1.3
oauthlib==3.1.0
openpyxl==3.0.9
Pillow==8.2.0
protobuf==3.19.1
psycopg2==2.8.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyJWT==2.1.0
pyparsing==3.0.6
python3-openid==3.2.0
pytz==2021.1
ranking==0.3.2
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.8
six==1.16.0
sqlparse==0.4.1
typing_extensions==4.0.0
tzlocal==2.1
uritemplate==4.1.1
urllib3==1.26.4
whitenoise==5.2.0
