{% extends 'corona/base.html' %}
{% load static %}
{% load humanize %}
{% block head-title %}
    라이브 채팅 테스트
{% endblock %}
{% block head_script %}
    <script src="https://asset.talkplus.io/talkplus-js-0.2.8.js"></script>
{% endblock %}


{% block custom_style %}
    <link href="{% static 'forum/css/scroll_nav.css' %}" rel="stylesheet" type="text/css" media="screen">
{% endblock %}

{% block main-area %}

    <!-- Sub Banner -->
    {% include 'corona/sub_banner.html' %}

    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <div class="small">
            <h6>라이브 채팅 테스트</h6>
            <p class="text-muted small">
                식당 정보 검토단계에서의 토론 활성화, 업주 문의, 커뮤니티 소통 등을 지원하기 위해 현재 라이브 채팅 시스템을 테스트 하고 있습니다.
                자유롭게 채팅 시스템을 사용 가능하시며 최대 20명까지 동시 접속을 지원합니다.
            </p>
        </div>
        <div id="talkjs-container" style="width: 100%; height: 500px">
            <i>Loading chat...</i>
        </div>
    </div>


{% endblock %}

{% block script %}
    <!-- minified snippet to load TalkJS without delaying your page -->
    <script>
        (function (t, a, l, k, j, s) {
            s = a.createElement('script');
            s.async = 1;
            s.src = "https://cdn.talkjs.com/talk.js";
            a.head.appendChild(s)
            ;k = t.Promise;
            t.Talk = {
                v: 3, ready: {
                    then: function (f) {
                        if (k) return new k(function (r, e) {
                            l.push([f, r, e])
                        });
                        l
                            .push([f])
                    }, catch: function () {
                        return k && new k()
                    }, c: l
                }
            };
        })(window, document, []);


        Talk.ready.then(function () {

            {% if is_superuser %}
                var me = new Talk.User({
                    id: "{{id}}",
                    name: "{{name}}",
                    email: "{{email}}",
                    photoUrl: "{{phto_url}}",
                    welcomeMessage: '안녕하세요, 현재 라이브 채팅을 테스트 중입니다',
                    role: "{{role}}"
                });
            {% else %}
                var me = new Talk.User({
                    id: "{{id}}",
                    name: "{{name}}",
                    role: "{{role}}"
                });
            {% endif %}

            window.talkSession = new Talk.Session({
                appId: 'tsLI8nZv',
                me: me,
            });

            var conversation = window.talkSession.getOrCreateConversation("TEST003");
            conversation.setParticipant(me);
            conversation.setAttributes({
                photoUrl: "https://res.cloudinary.com/hyzq6bxmk/image/upload/v1641144411/static/goda%20soft%20studio/logo_godo_kftbb0.png",
                subject: "라이브 채팅 테스트"
            });

            var chatbox = window.talkSession.createChatbox();
            chatbox.select(conversation);
            chatbox.mount(document.getElementById('talkjs-container'));

        });

        window.onbeforeunload = function () {
            {% if not is_superuser %}
                leaveChat("{{ id }}");
                return "";
                {#return 'Are you sure you want to leave?';#}
            {% endif %}
        };

        function leaveChat(id) {
            const request = new XMLHttpRequest();
            const url = 'https://api.talkjs.com/v1/tsLI8nZv/conversations/TEST003/participants/' + id
            request.open('DELETE', url, true)
            request.setRequestHeader('Content-Type', 'application/json');
            request.setRequestHeader('Authorization', 'Bearer sk_test_QR6RsbOJ3A8rW1ZnNlGrZui7a8D5OZ4S');
            request.send();

            console.log(request.response);
            return request.response;
        }
    </script>


{% endblock %}



