{% extends 'forum/base.html' %}
{% load static %}
{#{% load crispy_forms_tags %}#}
{#{% load embed_video_tags %}#}

{% block head-title %}
    코로나(임시)
{% endblock %}

{% block custom_style %}
    <link href="{% static 'forum/css/scroll_nav.css' %}" rel="stylesheet" type="text/css" media="screen">
{% endblock %}

{% block head_script %}
    <script type="text/javascript"
            src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=xri0uk8n3k"></script>
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a944db919cc44b18664fe04ef31cd301"></script>
{% endblock %}


{% block main-area %}

    <!-- Sub Banner -->
    {% include 'home/home_sub_banner.html' %}

    <!-- Search Bar -->
    <form class="d-flex">{% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="준비중" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <!-- Scroll Bar -->
    {% include 'video_forum/scroll_navbar.html' %}


    <div class="my-3 p-3 bg-body rounded shadow-sm">

        <!-- Header -->
        <div class="d-flex justify-content-between align-items-center border-bottom pb-2 mb-0">
            <h2 class="h3 mb-0">
                제목
            </h2>

            {% if user.is_authenticated %}
                <a role="button" class="btn btn-outline-primary btn-sm" href="{% url 'video_forum:create_video' %}">
                    업로드
                </a>
            {% else %}
                <a role="button" class="btn btn-outline-primary btn-sm" href="{% url 'account_login' %}">
                    업로드
                </a>
            {% endif %}
        </div>

        {#        <div id="map" style="width:100%;height:400px;"></div>#}

        <div id="map" class="my-5" style="height: 400px">
            temp
        </div>

        {% comment %}

        <!-- Header -->
        <div class="d-flex justify-content-between align-items-center border-bottom pb-2 mb-0">
            <h2 class="h3 mb-0">
                모든 비디오
            </h2>
            {% if user.is_authenticated %}
                <a role="button" class="btn btn-outline-primary btn-sm" href="{% url 'video_forum:create_video' %}">
                    업로드
                </a>
            {% else %}
                <a role="button" class="btn btn-outline-primary btn-sm" href="{% url 'account_login' %}">
                    업로드
                </a>
            {% endif %}
        </div>


        <!-- Video -->
        {% for video in video_list %}


            <div class="d-flex text-muted pt-3">
                <div class="pb-3 pt-2 px-0 mb-0 small lh-sm border-bottom w-100">
                    <a href="{% url 'video_forum:detail' video.pk %}"
                       class="list-group-item list-group-item-action px-0"
                       style="border: 0">
                        <h3 class="h5 text-dark">{{ video.title }}</h3>

                        <div class="d-flex justify-content-center">
                            {% video video.url '100% x 270' %}
                        </div>
                    </a>

                    <div class="d-flex text-muted justify-content-between align-items-center">
                        <div class="d-inline">
                            {% if video.is_anonymous %}
                                <strong class="text-gray-dark">익명</strong>
                            {% else %}
                                <strong class="text-gray-dark">{{ video.author }}</strong>
                            {% endif %}

                            <div class="d-inline"> {{ video.created_at|date:'m-d H:i' }} </div>


                        </div>

                        <!-- Video Views&Likes -->


                        <div class="d-inline">
                            {% if user.is_authenticated %}
                                <form class="d-flex align-items-center"
                                      action="{% url 'video_forum:like_video' video.pk %}"
                                      method="POST">{% csrf_token %}
                                    <div class="d-inline mx-1">
                                        <i class="far fa-eye text-muted"></i> {{ video.hit_count.hits }}
                                    </div>

                                    <button type="submit"
                                            class="btn bnt-sm btn-link text-decoration-none p-1 py-0">
                                        <small class="text-muted">
                                            <i class="fas fa-heart text-danger"></i> {{ video.num_likes }}
                                        </small>
                                    </button>

                                    <button class="btn btn-sm btn-primary text-warning p-1 py-0" type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#collapseExample-{{ video.pk }}" aria-expanded="false"
                                            aria-controls="collapseExample">
                                        <i class="fas fa-comment"></i> {{ video.num_comments }}
                                    </button>
                                </form>
                            {% else %}
                                <div class="d-flex align-items-center">
                                    <div class="d-inline mx-1">
                                        <i class="far fa-eye text-muted"></i> {{ video.hit_count.hits }}
                                    </div>
                                    <a class="btn btn-sm btn-link text-decoration-none text-muted p-0 pe-1"
                                       href="{% url "account_login" %}">
                                        <i class="fas fa-heart text-danger"></i> {{ video.num_likes }}
                                    </a>
                                    <button class="btn btn-sm btn-primary text-warning p-1 py-0" type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#collapseExample-{{ video.pk }}" aria-expanded="false"
                                            aria-controls="collapseExample">
                                        <i class="fas fa-comment"></i> {{ video.num_comments }}
                                    </button>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="d-flex justify-content-start align-items-center mb-2">
                        <div class="d-inline">
                            {% if video.tags.exists %}
                                <i class="fas fa-tags"></i>
                                {% for tag in video.tags.iterator %}
                                    <span class="badge rounded-pill"
                                          style="background-color: darkseagreen">{{ tag }}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>

                    <div class="collapse" id="collapseExample-{{ video.pk }}">

                        <div class="card card-body pt-0">

                            {% for video_comment in video.videocomment_set.iterator %}
                                <div class="d-flex text-muted pt-2">

                                    <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="d-inline text-dark">
                                                {% if video_comment.is_anonymous %}
                                                    <strong>익명</strong>
                                                {% else %}
                                                    <strong>{{ video_comment.author }}</strong>
                                                {% endif %}

                                                <div class="d-inline text-muted small">{{ video_comment.modified_at|date:'m-d H:i' }}</div>

                                            </div>

                                            <!-- Video Comment Likes -->
                                            <div class="d-inline">
                                                {% if user.is_authenticated %}
                                                    <form action="{% url 'video_forum:like_video_comment' video.pk video_comment.pk %}"
                                                          method="POST">{% csrf_token %}
                                                        <button type="submit"
                                                                class="btn bnt-sm btn-link text-decoration-none p-0 px-1 small">
                                                            <small>
                                                                <small class="text-dark">
                                                                    <i class="far fa-thumbs-up text-success"></i> {{ video_comment.num_likes }}
                                                                </small>
                                                            </small>
                                                        </button>
                                                    </form>
                                                {% else %}
                                                    <a class="text-decoration-none text-dark"
                                                       href="{% url "account_login" %}">
                                                        <i class="far fa-thumbs-up text-success"></i> {{ video_comment.num_likes }}
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </div>

                                        {{ video_comment.content }}

                                    </div>
                                </div>
                            {% endfor %}

                            <div class="mt-3 p-3 bg-light rounded shadow-sm">
                                {% if user.is_authenticated %}

                                    <form class="mt-2" id="video-comment-form" method="POST"
                                          action="{{ video.get_absolute_url }}create_video_comment/">
                                        {% csrf_token %}
                                        <div class="form-group">{{ video_comment_form|crispy }}</div>

                                        <div class="d-flex justify-content-center">
                                            <button class="btn btn-sm btn-primary py-0 w-25" type="submit">작성
                                            </button>
                                        </div>
                                    </form>



                                {% else %}

                                    <a role="button" class="btn btn-outline-secondary btn-sm w-100 text-center"
                                       href="{% url 'account_login' %}">
                                        로그인 후 댓글을 작성할 수 있습니다.</a>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}

        {% endcomment %}


    </div>

    {% comment %}

    <!-- Pagination -->
    {% if is_paginated %}
        <ul class="pagination justify-content-center mb-4">

            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                        <i class="fas fa-arrow-left"></i> 이전
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#"><i class="fas fa-arrow-left"></i> 이전</a>
                </li>
            {% endif %}

            <li class="page-item">
                <span class="page-link">{{ page_obj.number }} / {{ paginator.num_pages }}</span>
            </li>

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                        다음 <i class="fas fa-arrow-right"></i>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">다음 <i class="fas fa-arrow-right"></i></a>
                </li>
            {% endif %}
        </ul>
    {% endif %}

    {% endcomment %}

{% endblock %}


{% block script %}

    <script>


        var mapContainer = document.getElementById('map'), // 지도를 표시할 div
            mapOption = {
                center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
                level: 3 // 지도의 확대 레벨
            };

        var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

        // 마커를 표시할 위치와 title 객체 배열입니다
        {#var positions = [#}
        {#    {#}
        {#        content: '<div>카카오</div>',#}
        {#        latlng: new kakao.maps.LatLng(33.450705, 126.570677)#}
        {#    },#}
        {#    {#}
        {#        content: '<div>생태연못</div>',#}
        {#        latlng: new kakao.maps.LatLng(33.450936, 126.569477)#}
        {#    },#}
        {#    {#}
        {#        content: '<div>텃밭</div>',#}
        {#        latlng: new kakao.maps.LatLng(33.450879, 126.569940)#}
        {#    },#}
        {#    {#}
        {#        content: '<div>근린공원</div>',#}
        {#        latlng: new kakao.maps.LatLng(33.451393, 126.570738)#}
        {#    }#}
        {#];#}

        var positions = [];

        {% for restaurant in restaurant_list %}
            positions[{{ forloop.counter0 }}] = {
                content: '<div> {{ restaurant.name }} </div>',
                latlng: new kakao.maps.LatLng({{restaurant.latitude}}, {{restaurant.longitude}}),
                unvaccinated_pass: '{{ restaurant.unvaccinated_pass }}',
            };

        {% endfor %}




        // 마커 이미지의 이미지 주소입니다

        var blueMarker = 'https://res.cloudinary.com/hyzq6bxmk/image/upload/v1640300541/static/corona/marker_blue_jrf7fx.png'
        var redMarker = 'https://res.cloudinary.com/hyzq6bxmk/image/upload/v1640300541/static/corona/marker_red_thsqtb.png'

        for (var i = 0; i < positions.length; i++) {

            // 마커 이미지의 이미지 크기 입니다
            var imageSize = new kakao.maps.Size(30, 30);

            if (positions[i].unvaccinated_pass == "미접종 친절") {
                var imageSrc = blueMarker
            } else {
                var imageSrc = redMarker
            }


            // 마커 이미지를 생성합니다
            var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                map: map, // 마커를 표시할 지도
                position: positions[i].latlng, // 마커를 표시할 위치
                {#title: positions[i].title, // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다#}
                image: markerImage, // 마커 이미지
                clickable: true // 마커를 클릭했을 때 지도의 클릭 이벤트가 발생하지 않도록 설정합니다
            });


            // 마커에 표시할 인포윈도우를 생성합니다
            var infowindow = new kakao.maps.InfoWindow({
                content: positions[i].content, // 인포윈도우에 표시할 내용
                removable: true
            });

            // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
            // 이벤트 리스너로는 클로저를 만들어 등록합니다
            // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
            kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
            kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
            kakao.maps.event.addListener(marker, 'click', clickListener(infowindow));
        }

        // 인포윈도우를 표시하는 클로저를 만드는 함수입니다
        function makeOverListener(map, marker, infowindow) {
            return function () {
                infowindow.open(map, marker);
            };
        }

        // 인포윈도우를 표시하는 클로저를 만드는 함수입니다
        function clickListener(map, marker, infowindow) {
            return function () {
                infowindow.open(map, marker);
            };
        }

        // 인포윈도우를 닫는 클로저를 만드는 함수입니다
        function makeOutListener(infowindow) {
            return function () {
                infowindow.close();
            };
        }


    </script>



{% endblock %}
