{% load humanize %}
{% load static %}

<div class="d-flex justify-content-between align-items-center p-2 mb-3 rounded shadow-sm text-white"
     style="background-color: #86b7fe">

    <div class="lh-1">
        <a href='https://play.google.com/store/apps/details?id=com.hustay.swing.d6cf5a98e91a94ddfb08b1c9a7644b9a8'><img
                alt='다운로드하기 Google Play'
                src='{% static 'home/images/play_download.png' %}'
                style="height: 40px">
        </a>
        {#        <h1 class="d-flex h6 small my-0 visually-hidden">#}
        {#            미접종 식당 가이드#}
        {#        </h1>#}

        {#        <img src="{% static 'corona/happy_new_year.png' %}" alt="새해 복 많이 받으세요!">#}
    </div>


    <div class="float-end text-light small py-0">
        <div class="d-flex small justify-content-center py-0">
            코로나 현황
        </div>
        <i class="fas fa-viruses"></i><small class="small">
        {{ decided_count|intcomma }}(&#9652;{{ today_decided_count|intcomma }})</small>
    </div>


</div>