{% load humanize %}
{% load static %}

<div class="d-flex justify-content-between align-items-center p-2 mb-1 rounded shadow-sm text-white"
     style="background-color: #86b7fe">

    <div class="lh-1">
        <a href='https://play.google.com/store/apps/details?id=com.hustay.swing.d6cf5a98e91a94ddfb08b1c9a7644b9a8'><img
                alt='다운로드하기 Google Play'
                src='{% static 'home/images/play_download.png' %}'
                style="height: 40px">
        </a>
        {#        <h1 class="d-flex h6 small my-0 visually-hidden">#}
        {#            미접종 식당 가이드#}
        {#        </h1>#}

        {#        <img src="{% static 'corona/happy_new_year.png' %}" alt="새해 복 많이 받으세요!">#}
    </div>


    <div class="float-end text-light small py-0">
        <div class="d-flex small justify-content-center py-0">
            코로나 현황
        </div>
        <i class="fas fa-viruses"></i><small class="small">
        {{ decided_count|intcomma }}(&#9652;{{ today_decided_count|intcomma }})</small>
    </div>

</div>

{% if notification %}
    <div class="bg-light p-2 mb-3 rounded shadow-sm">


        <a href="{% url 'corona:post_detail' notification.pk %}" class="text-decoration-none small">
            <div class="d-flex text-muted pt-0 small">
                <div class="pb-0 mb-0 small lh-sm w-100 small">

                    <h3 class="h6 text-dark">
                        <small>
                            <strong>공지 - </strong>
                            {{ notification.title|truncatechars:35 }}
                        </small>
                    </h3>

                    <p class="pb-0 mb-1 lh-sm">
                        {{ notification.content|cut:"#"|cut:"`"|truncatechars:55|safe }}
                    </p>

                    <div class="d-flex text-muted justify-content-between">
                        <div class="d-inline">

                            <strong class="text-gray-dark">{{ notification.author }}</strong>

                            <div class="d-inline"> {{ notification.created_at|date:'m-d H:i' }} </div>
                        </div>

                        <div class="d-inline mb-1">
                            <div class="d-inline"><i
                                    class="far fa-thumbs-up text-primary"></i> {{ notification.num_likes }}
                            </div>

                            <div class="d-inline"><i class="far fa-comment"></i> {{ notification.num_comments }}
                            </div>
                            <div class="d-inline"><i class="far fa-eye"></i> {{ notification.hit_count.hits }}
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </a>


    </div>
{% endif %}

