<!DOCTYPE html>
{% load static %}

<html lang="ko" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="집에가자 전역일 계산기로 복무율과 실출근을 모두 한번에 알아보세요.">
    <meta name="author" content="goda soft studio">
    <meta name="version" content="gazaa beta v1.2.1">

    <!-- Robots -->
    <meta name="robots" content="index,follow">

    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="집에가자">
    <meta property="og:description" content="집에가자 전역일 계산기로 복무율과 실출근을 모두 한번에 알아보세요.">
    <meta property="og:image" content="https://www.gazaahome.com/{% static 'home/images/logo.png' %}">
    <meta property="og:url" content="https://www.gazaahome.com/">

    <!-- Site Register-->
    <meta name="google-site-verification" content="{{ google_site_register_code }}"/>

    <title>{% block head-title %}게시판{% endblock %}</title>

    <!-- Favicon-->
    {% include 'home/favicon.html' %}

    <!-- Font Awesome-->
    <script src="https://kit.fontawesome.com/b9b1f40479.js" crossorigin="anonymous"></script>

    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'forum/bootstrap/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="screen">

    <!-- Footer CSS style-->
    <link href="{% static 'forum/css/footer.css' %}" rel="stylesheet" type="text/css" media="screen">

    <!-- Custom styles for this template-->
    <style>
        body {
            padding-top: 4.5rem;
        }
    </style>
    {% block custom_style %}{% endblock %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-203346109-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-203346109-1');
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7BQVYN8RMC"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-7BQVYN8RMC');
    </script>

    <!-- Global site tag (gtag.js) - Google Ads: 329024456 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-329024456"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'AW-329024456');
    </script>
</head>

<body class="d-flex flex-column h-100">


<div class="container">
    <!-- Navigation Bar -->
    {% include 'forum/navbar.html' %}

    <!-- main-area -->
    {% block main-area %}{% endblock %}
</div>


<!-- Footer -->
{% include 'forum/footer.html' %}

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ"
        crossorigin="anonymous"></script>


{% block chart %}{% endblock %}
</body>

</html>