<!-- Footer -->
{% load static %}
<footer class="footer mt-auto home_footer">
    <p>
        Copyright &copy; Goda Soft Studio <small>since 2021</small>
    </p>

    <!-- facebook -->
    <a href="https://www.facebook.com/%EC%A7%91%EC%97%90%EA%B0%80%EC%9E%90-109610881405047/"
       class="text-decoration-none" target="_blank">
        <i class="fab fa-facebook-square"></i>
    </a>

    <!-- instargram -->
    <a href="https://www.instagram.com/gazaahome/"
       class="text-decoration-none" target="_blank" style="color: #E1306C">
        <i class="fab fa-instagram-square"></i>
    </a>

    <!-- twitter -->
    <a href="https://twitter.com/gazaahome/"
       class="text-decoration-none" target="_blank" style="color: cornflowerblue">
        <i class="fab fa-twitter"></i>
    </a>

    <!-- kakaotalk -->
    <a href="https://open.kakao.com/o/gV6L2Ged" class="text-decoration-none">
        <img src="{% static 'home/images/kakaolink_btn_small_ov.png' %}" alt="이미지 오류"
             style="width: 15px; height: 15px"
             class="mb-1">
    </a>

    <!-- mail -->
    <i class="far fa-envelope"><a href="mailto:goda.soft.studio@gmail.com" class="text-decoration-none text-muted">
        goda.soft.studio&#64gmail.com
    </a></i>

</footer>
