{% extends 'forum/base.html' %}

{% block head-title %}
    게시판
{% endblock %}

{% block main-area %}

    <div class="d-flex align-items-center p-3 my-3 rounded shadow-sm text-white" style="background-color: #6f42c1">
        <div class="lh-1">
            <h1 class="h6 mb-0 lh-1">Bootstrap</h1>
            <small>Since 2011</small>
        </div>
    </div>

    <div class="my-3 p-3 bg-body rounded shadow-sm">

        <div class="d-flex justify-content-between border-bottom pb-2 mb-0">
            <h2 class="h5">
                {% if category %}
                    {{ category }}
                {% else %}
                    모든 게시글
                {% endif %}
            </h2>
            <small><a href="#">새로운 게시글</a> </small>
        </div>


        <div class="list-group-flush">


            <!-- Blog Post -->
            {% for post in post_list %}

                <a href="{% url 'detail' post.pk %}" class="list-group-item list-group-item-action" style="border: 0">
                    <div class="d-flex text-muted pt-3">
                        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                            <div class="d-flex justify-content-between">
                                <h3 class="h6 text-dark">{{ post.title }}</h3>
                                <div class="d-inline">
                                    {% if post.tags.exists %}
                                        {% comment %}<i class="fas fa-tags"></i>{% endcomment %}
                                        {% for tag in post.tags.iterator %}
                                            <span class="badge rounded-pill" style="background-color: #9F81F7">
                                            {{ tag }}
                                            </span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>


                            <p class="pb-0 mb-1 lh-sm">
                                {{ post.content|cut:"#"|cut:"`"|truncatechars_html:80|safe }}
                            </p>
                            <div class="d-flex text-muted justify-content-between">

                                <div class="d-inline">
                                    <strong class="text-gray-dark">{{ post.author }}</strong>
                                    <div class="d-inline"> {{ post.created_at|date:'m-d H:i' }} </div>
                                </div>

                                <div class="d-inline">
                                    <div class="d-inline"><i class="fas fa-heart"></i> {{ post.num_likes }}&nbsp;</div>
                                    <div class="d-inline"><i class="far fa-comment"></i> {{ post.num_comments }}&nbsp;</div>
                                    <div class="d-inline"><i class="far fa-eye"></i> {{ post.hit_count.hits }}</div>
                                </div>


                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}


        </div>

    </div>






    <!-- Pagination -->
    {% if is_paginated %}
        <ul class="pagination justify-content-center mb-4">

            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                        <i class="fas fa-arrow-left"></i> 이전
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#"><i class="fas fa-arrow-left"></i> 이전</a>
                </li>
            {% endif %}

            <li class="page-item">
                <span class="page-link">{{ page_obj.number }} / {{ paginator.num_pages }}</span>
            </li>

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                        다음 <i class="fas fa-arrow-right"></i>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">다음 <i class="fas fa-arrow-right"></i></a>
                </li>
            {% endif %}
        </ul>
    {% endif %}

{% endblock %}
