<!-- Post Category Scroll Bar -->
<div class="nav-scroller bg-body shadow-sm">
    <nav class="nav nav-underline" aria-label="Secondary navigation">

        {% if request.path == "/forum/" %}
            <a class="nav-link text-success" href="{% url 'index' %}">
                전체
                <span class="badge text-white rounded-pill align-text-bottom" style="background-color: darkseagreen">
                    {{ num_post }}
                </span>
            </a>
        {% else %}
            <a class="nav-link" href="{% url 'index' %}">
                전체
                <span class="badge bg-light text-dark rounded-pill align-text-bottom">
                    {{ num_post }}
                </span>
            </a>
        {% endif %}

        {% if category %}

            {% if category == "인기" %}
                <a class="nav-link text-success" href="{% url 'popular_post' %}">인기</a>
            {% else %}
                <a class="nav-link" href="{% url 'popular_post' %}">인기</a>
            {% endif %}


            {% if category == "특급" %}
                <a class="nav-link text-success" href="{% url 'likes_post' %}">특급</a>
            {% else %}
                <a class="nav-link" href="{% url 'likes_post' %}">특급</a>
            {% endif %}


            {% for category_iter in categories %}
                {% if category_iter == category %}
                    <a class="nav-link text-success" href="{% url 'category_post' category_iter.slug %}">
                        {{ category_iter }}
                        <span class="badge text-white rounded-pill align-text-bottom"
                              style="background-color: darkseagreen">
                            {{ category_iter.post_set.count }}
                        </span>
                    </a>
                {% else %}
                    <a class="nav-link" href="{% url 'category_post' category_iter.slug %}">
                        {{ category_iter }}
                        <span class="badge bg-light text-dark rounded-pill align-text-bottom">{{ category_iter.post_set.count }}</span>
                    </a>

                {% endif %}


            {% endfor %}

            {% else %}{% comment %}Post Detail{% endcomment %}

            <a class="nav-link" href="{% url 'popular_post' %}">
                인기
            </a>

            <a class="nav-link" href="{% url 'likes_post' %}">
                특급
            </a>


            {% for category_iter in categories %}

                {% if category_iter == post.category %}
                    <a class="nav-link text-success" href="{% url 'category_post' category_iter.slug %}">
                        {{ category_iter }}
                        <span class="badge text-white rounded-pill align-text-bottom"
                              style="background-color: darkseagreen">
                            {{ category_iter.post_set.count }}
                        </span>
                    </a>
                {% else %}
                    <a class="nav-link" href="{% url 'category_post' category_iter.slug %}">
                        {{ category_iter }}
                        <span class="badge bg-light text-dark rounded-pill align-text-bottom">{{ category_iter.post_set.count }}</span>
                    </a>

                {% endif %}

            {% endfor %}

        {% endif %}
    </nav>
</div>