{% extends 'corona/base.html' %}
{% load static %}

{% block head-title %}
    {% if request.path == "/corona/unvaccinated_restaurant/available/" %}
        친절
    {% elif request.path == "/corona/unvaccinated_restaurant/unavailable/" %}
        거부
    {% elif request.path == "/corona/unvaccinated_restaurant/confirm_required/" %}
        확인요청
    {% elif request.path == "/corona/unvaccinated_restaurant/popular/" %}
        인기
    {% endif %}
    식당 목록
{% endblock %}

{% block custom_style %}
    <link href="{% static 'forum/css/scroll_nav.css' %}" rel="stylesheet" type="text/css" media="screen">
{% endblock %}

{% block main-area %}

    <!-- Sub Banner -->
    {% include 'corona/sub_banner.html' %}

    <!-- Search Bar -->
    <form class="d-flex">{% csrf_token %}
        <input class="form-control me-2" type="search" placeholder="준비중" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <!-- Scroll Bar -->
    {% include 'corona/unvaccinated_restaurant/scroll_navbar.html' %}


    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <!-- Header -->
        <div class="d-flex justify-content-between align-items-center border-bottom pb-2 mb-0">
            <h1 class="h2 mb-2">
                {% if request.path == "/corona/unvaccinated_restaurant/available/" %}
                    친절 식당 목록
                {% elif request.path == "/corona/unvaccinated_restaurant/unavailable/" %}
                    거부 식당 목록
                {% elif request.path == "/corona/unvaccinated_restaurant/confirm_required/" %}
                    확인요청 식당 목록
                {% elif request.path == "/corona/unvaccinated_restaurant/popular/" %}
                    인기 식당 목록
                {% else %}
                    모든 식당 목록
                {% endif %}
            </h1>


            <a role="button" class="btn btn-outline-secondary btn-sm" href="{% url 'corona:restaurant_create' %}">
                식당 등록
            </a>

        </div>


        <!-- Restaurant List-->
        <div class="list-group-flush">

            {% for restaurant in restaurant_list %}

                <a href="{% url 'corona:restaurant_detail' restaurant.pk %}"
                   class="list-group-item list-group-item-action" style="border: 0">
                    <div class="d-flex text-muted pt-3">
                        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">

                            <h3 class="h5 text-dark">{{ restaurant.name }}</h3>

                            {% if restaurant.address %}
                                <p class="pb-0 mb-1 lh-sm text-muted">
                                    {{ restaurant.address }}
                                </p>
                            {% else %}
                                <p class="pb-0 mb-1 lh-sm text-muted">
                                    주소 확인 중
                                </p>
                            {% endif %}

                            <div class="d-flex text-muted justify-content-between">
                                <div class="d-inline">
                                    <strong class="text-gray-dark">{{ restaurant.category }}</strong>
                                    {% if restaurant.verifieded %}
                                        <div class="d-inline mx-2 small text-success"> 유선확인 완료</div>
                                    {% else %}
                                        <div class="d-inline mx-2 small text-success"> 유선확인 중</div>
                                    {% endif %}

                                </div>


                                <div class="d-inline mb-1">
                                    <div class="d-inline"><i
                                            class="far fa-thumbs-up text-primary"></i> {{ restaurant.num_likes }}
                                    </div>
                                    <div class="d-inline"><i
                                            class="far fa-thumbs-down text-danger"></i> {{ restaurant.num_dislikes }}
                                    </div>
                                    <div class="d-inline"><i class="far fa-comment"></i> {{ restaurant.num_comments }}
                                    </div>
                                    <div class="d-inline"><i class="far fa-eye"></i> {{ restaurant.hit_count.hits }}
                                    </div>
                                </div>

                            </div>
                            <div class="d-flex justify-content-between">
                                <div class="d-inline">
                                    {% if restaurant.unvaccinated_pass.type == "미접종 친절" %}
                                        <span class="badge rounded-pill"
                                              style="background-color: cornflowerblue">{{ restaurant.unvaccinated_pass }}</span>
                                    {% elif restaurant.unvaccinated_pass.type == "미접종 거부" %}
                                        <span class="badge rounded-pill"
                                              style="background-color: indianred">{{ restaurant.unvaccinated_pass }}</span>
                                    {% else %}
                                        <span class="badge rounded-pill"
                                              style="background-color: darkgreen">{{ restaurant.unvaccinated_pass }}</span>
                                    {% endif %}
                                </div>

                                <div class="d-inline">
                                    {% if restaurant.tags.exists %}
                                        <i class="fas fa-tags"></i>
                                        {% for tag in restaurant.tags.iterator %}
                                            <span class="badge rounded-pill"
                                                  style="background-color: darkseagreen">{{ tag }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>


                        </div>
                    </div>
                </a>
            {% endfor %}


        </div>

    </div>

    <!-- Pagination -->
    {% if is_paginated %}
        <ul class="pagination justify-content-center mb-4">

            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                        <i class="fas fa-arrow-left"></i> 이전
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#"><i class="fas fa-arrow-left"></i> 이전</a>
                </li>
            {% endif %}

            <li class="page-item">
                <span class="page-link">{{ page_obj.number }} / {{ paginator.num_pages }}</span>
            </li>

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                        다음 <i class="fas fa-arrow-right"></i>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">다음 <i class="fas fa-arrow-right"></i></a>
                </li>
            {% endif %}
        </ul>
    {% endif %}

{% endblock %}
