<div class="nav-scroller shadow-sm border-top-0">
    <nav class="nav nav-underline" aria-label="Secondary navigation">

        {% if region %}
            <!-- All -->
            {% if request.path == "/corona/unvaccinated_restaurant/region/"|add:region|add:"/" %}
                <a class="nav-link text-success" href="{% url 'corona:region_restaurant_index' region %}">
                    전체
                    <span class="badge text-white rounded-pill align-text-bottom"
                          style="background-color: darkseagreen">
                    {{ num_restaurants }}
                </span>
                </a>
            {% else %}
                <a class="nav-link" href="{% url 'corona:region_restaurant_index' region %}">
                    전체
                    <span class="badge bg-light text-dark rounded-pill align-text-bottom">
                    {{ num_restaurants }}
                </span>
                </a>
            {% endif %}

            <!-- Available -->
            {% if request.path == "/corona/unvaccinated_restaurant/region/"|add:region|add:"/available/" %}
                <a class="nav-link text-success" href="{% url 'corona:available_region_restaurant_index' region %}">
                    친절 식당
                    <span class="badge text-white rounded-pill align-text-bottom"
                          style="background-color: darkseagreen">
                    {{ num_unvaccinated_available }}
                </span>
                </a>
            {% else %}
                <a class="nav-link" href="{% url 'corona:available_region_restaurant_index' region %}">
                    친절 식당
                    <span class="badge bg-light text-dark rounded-pill align-text-bottom">
                    {{ num_unvaccinated_available }}
                </span>
                </a>
            {% endif %}

            <!-- Unavailable -->
            {% if request.path == "/corona/unvaccinated_restaurant/region/"|add:region|add:"/unavailable/" %}
                <a class="nav-link text-success" href="{% url 'corona:unavailable_region_restaurant_index' region %}">
                    거부 식당
                    <span class="badge text-white rounded-pill align-text-bottom"
                          style="background-color: darkseagreen">
                    {{ num_unvaccinated_unavailable }}
                </span>
                </a>
            {% else %}
                <a class="nav-link" href="{% url 'corona:unavailable_region_restaurant_index' region %}">
                    거부 식당
                    <span class="badge bg-light text-dark rounded-pill align-text-bottom">
                    {{ num_unvaccinated_unavailable }}
                </span>
                </a>
            {% endif %}

            <!-- Confirm Required -->
            {% if request.path == "/corona/unvaccinated_restaurant/region/"|add:region|add:"/confirm_required/" %}
                <a class="nav-link text-success"
                   href="{% url 'corona:confirm_required_region_restaurant_index' region %}">
                    궁금 식당
                    <span class="badge text-white rounded-pill align-text-bottom"
                          style="background-color: darkseagreen">
                    {{ num_unvaccinated_confirm_required }}
                </span>
                </a>
            {% else %}
                <a class="nav-link" href="{% url 'corona:confirm_required_region_restaurant_index' region %}">
                    궁금 식당
                    <span class="badge bg-light text-dark rounded-pill align-text-bottom">
                    {{ num_unvaccinated_confirm_required }}
                </span>
                </a>
            {% endif %}

            <!-- Popular -->
            {% if request.path == "/corona/unvaccinated_restaurant/region/"|add:region|add:"/mostpopular/" %}
                <a class="nav-link text-success" href="{% url 'corona:most_popular_region_restaurant_index' region %}">인기
                    순</a>
            {% else %}
                <a class="nav-link" href="{% url 'corona:most_popular_region_restaurant_index' region %}">인기 순</a>
            {% endif %}

            <!-- Likes -->
            {% if request.path == "/corona/unvaccinated_restaurant/region/"|add:region|add:"/mostpopular/" %}
                <a class="nav-link text-success" href="{% url 'corona:most_likes_region_restaurant_index' region %}">좋아요
                    순</a>
            {% else %}
                <a class="nav-link" href="{% url 'corona:most_likes_region_restaurant_index' region %}">좋아요 순</a>
            {% endif %}


            <!-- Comments -->
            {% if request.path == "/corona/unvaccinated_restaurant/region/"|add:region|add:"/mostcomments/" %}
                <a class="nav-link text-success"
                   href="{% url 'corona:most_comments_region_restaurant_index'  region %}">댓글 순</a>
            {% else %}
                <a class="nav-link" href="{% url 'corona:most_comments_region_restaurant_index'  region %}">댓글 순</a>
            {% endif %}

        {% else %}
            <!-- All -->
            {% if request.path == "/corona/unvaccinated_restaurant/" %}
                <a class="nav-link text-success" href="{% url 'corona:restaurant_index' %}">
                    전체
                    <span class="badge text-white rounded-pill align-text-bottom"
                          style="background-color: darkseagreen">
                    {{ num_restaurants }}
                </span>
                </a>
            {% else %}
                <a class="nav-link" href="{% url 'corona:restaurant_index' %}">
                    전체
                    <span class="badge bg-light text-dark rounded-pill align-text-bottom">
                    {{ num_restaurants }}
                </span>
                </a>
            {% endif %}

            <!-- Available -->
            {% if request.path == "/corona/unvaccinated_restaurant/available/" %}
                <a class="nav-link text-success" href="{% url 'corona:available_restaurant_index' %}">
                    친절 식당
                    <span class="badge text-white rounded-pill align-text-bottom"
                          style="background-color: darkseagreen">
                    {{ num_unvaccinated_available }}
                </span>
                </a>
            {% else %}
                <a class="nav-link" href="{% url 'corona:available_restaurant_index' %}">
                    친절 식당
                    <span class="badge bg-light text-dark rounded-pill align-text-bottom">
                    {{ num_unvaccinated_available }}
                </span>
                </a>
            {% endif %}

            <!-- Unavailable -->
            {% if request.path == "/corona/unvaccinated_restaurant/unavailable/" %}
                <a class="nav-link text-success" href="{% url 'corona:unavailable_restaurant_index' %}">
                    거부 식당
                    <span class="badge text-white rounded-pill align-text-bottom"
                          style="background-color: darkseagreen">
                    {{ num_unvaccinated_unavailable }}
                </span>
                </a>
            {% else %}
                <a class="nav-link" href="{% url 'corona:unavailable_restaurant_index' %}">
                    거부 식당
                    <span class="badge bg-light text-dark rounded-pill align-text-bottom">
                    {{ num_unvaccinated_unavailable }}
                </span>
                </a>
            {% endif %}

            <!-- Confirm Required -->
            {% if request.path == "/corona/unvaccinated_restaurant/confirm_required/" %}
                <a class="nav-link text-success" href="{% url 'corona:confirm_required_restaurant_index' %}">
                    궁금 식당
                    <span class="badge text-white rounded-pill align-text-bottom"
                          style="background-color: darkseagreen">
                    {{ num_unvaccinated_confirm_required }}
                </span>
                </a>
            {% else %}
                <a class="nav-link" href="{% url 'corona:confirm_required_restaurant_index' %}">
                    궁금 식당
                    <span class="badge bg-light text-dark rounded-pill align-text-bottom">
                    {{ num_unvaccinated_confirm_required }}
                </span>
                </a>
            {% endif %}

            <!-- Popular -->
            {% if request.path == "/corona/unvaccinated_restaurant/mostpopular/" %}
                <a class="nav-link text-success" href="{% url 'corona:most_popular_restaurant_index' %}">인기 순</a>
            {% else %}
                <a class="nav-link" href="{% url 'corona:most_popular_restaurant_index' %}">인기 순</a>
            {% endif %}

            <!-- Likes -->
            {% if request.path == "/corona/unvaccinated_restaurant/mostlikes/" %}
                <a class="nav-link text-success" href="{% url 'corona:most_likes_restaurant_index' %}">좋아요 순</a>
            {% else %}
                <a class="nav-link" href="{% url 'corona:most_likes_restaurant_index' %}">좋아요 순</a>
            {% endif %}


            <!-- Comments -->
            {% if request.path == "/corona/unvaccinated_restaurant/mostcomments/" %}
                <a class="nav-link text-success" href="{% url 'corona:most_comments_restaurant_index' %}">댓글 순</a>
            {% else %}
                <a class="nav-link" href="{% url 'corona:most_comments_restaurant_index' %}">댓글 순</a>
            {% endif %}


        {% endif %}

    </nav>
</div>