{% extends 'forum/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block custom_style %}
    <link href="{% static 'forum/css/scroll_nav.css' %}" rel="stylesheet" type="text/css" media="screen">
{% endblock %}

{% block head-title %}
    {{ post.title|truncatechars:15 }}
{% endblock %}

{% block main-area %}

    <!-- Sub Banner -->
    {% include 'home/home_sub_banner.html' %}

    <!-- Category Scroll Bar -->
    {% include 'forum/scroll_navbar.html' %}



    <article class="my-3 p-3 rounded shadow-sm">


        <!-- Title-->
        <div>
            <div class="d-flex justify-content-end mb-2">
                <!-- Post eidt-->
                {% if user.is_authenticated and user == post.author %}
                    <a class="btn mx-1 btn-sm btn-outline-primary"
                       href="{% url 'update' post.pk %}" role="button">
                        <small>수정</small>
                    </a>
                    <a class="btn btn-sm btn-outline-danger"
                       href="{% url 'delete' post.pk %}" role="button">
                        <small>삭제</small>
                    </a>
                {% endif %}
            </div>

            <h2 class="h4">
                {{ post.title }}
            </h2>
        </div>


        <div class="d-flex justify-content-between align-items-center small">
            <div class="d-inline">
                <p class="d-inline mx-1">
                    {% if post.category.name == "익명" %}
                        익명
                    {% else %}
                        {{ post.author }}
                    {% endif %}
                </p>
                <p class="d-inline text-muted mx-1 small">
                    {{ post.created_at|date:'Y-m-d H:i' }}
                </p>
            </div>
            <div class="d-inline text-muted small">
                <div class="d-inline"><i class="fas fa-heart"></i> {{ post.num_likes }}</div>
                <div class="d-inline"><i class="far fa-eye"></i> {{ post.hit_count.hits }}</div>
                <div class="d-inline"><i class="far fa-comment"></i> {{ post.num_comments }}</div>
            </div>
        </div>


        <hr>

        <!-- Preview image-->
        {% if post.head_image %}
            <img class="img-fluid rounded" src="{{ post.head_image.url }}" alt="..."/>
        {% endif %}

        <!-- Post content-->
        <p>{{ post.get_content_markdown|safe|linebreaks }}</p>

        <hr>

        <!-- Tags-->
        <div class="d-inline">
            {% if post.tags.exists %}
                <i class="fas fa-tags text-muted"></i>
                {% for tag in post.tags.iterator %}
                    <span class="badge rounded-pill"
                          style="background-color: darkseagreen">{{ tag }}</span>
                {% endfor %}
            {% endif %}
        </div>


        <div class="d-flex justify-content-center my-3">
            <!-- Likes -->
            {% if user.is_authenticated %}
                <form action="{% url 'like' post.pk %}" method="POST">{% csrf_token %}
                    <button type="submit" name="post_id" value="{{ post.pk }}"
                            class="btn btn-sm btn-outline-success position-relative border-1"
                            style="background-color: #aacfaa">
                        특급
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                            {{ num_likes }}
                        </span>

                    </button>
                </form>
            {% else %}
                <button class="btn btn-sm btn-outline-success position-relative border-1"
                        style="background-color: #aacfaa">
                    특급
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                        {{ num_likes }}
                    </span>
                </button>
            {% endif %}

        </div>
    </article>


    <!-- Comment-->
    <div class="my-3 p-3 rounded shadow-sm">
        <h4 class="border-bottom pb-2 mb-0">댓글</h4>

        {% if post.comment_set.exists %}

            {% for comment in post.comment_set.all %}

                <div class="d-flex  pt-3">
                    <div class="pb-2 mb-0 small lh-sm border-bottom w-100">

                        <div class="float-end">
                            {% if user.is_authenticated and comment.author == user %}
                                <a href="{% url 'comment_update' comment.pk %}"
                                   class="text-dark text-decoration-none mx-1">
                                    <small>수정</small>
                                </a>
                                <a class="text-dark text-decoration-none" href="#" data-bs-toggle="modal"
                                   data-bs-target="#deleteCommentModal-{{ comment.pk }}">
                                    <small>삭제</small>
                                </a>
                            {% endif %}
                        </div>

                        <div class="d-inline">
                            {% if post.category.name == "익명" %}
                                <strong class="text-gray-dark">익명</strong>
                            {% else %}
                                <strong class="text-gray-dark">{{ comment.author.username }}</strong>
                            {% endif %}

                            <div class="d-inline text-muted">{{ comment.modified_at|date:'Y-m-d H:i:s' }}</div>
                        </div>


                        <p class="small lh-sm text-muted">{{ comment.content|linebreaks }}</p>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="deleteCommentModal-{{ comment.pk }}" tabindex="-1"
                     aria-labelledby="deleteModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">

                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">댓글을 삭제하시겠습니까?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <del>{{ comment.content|linebreaks }}</del>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소
                                </button>
                                <a role="button" class="btn btn-danger"
                                   href="{% url 'comment_delete'  comment.pk %}">삭제</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        <!-- Comments form-->
        <div class="card my-4 text-center">
            <div class="card-body">
                {% if user.is_authenticated %}
                    <form id="comment-form" method="POST" action="{{ post.get_absolute_url }}new_comment/">
                        {% csrf_token %}
                        <div class="form-group">{{ comment_form|crispy }}</div>
                        <button class="btn btn-sm btn-primary float-end mt-1" type="submit">작성</button>
                    </form>

                {% else %}

                    <a role="button" class="btn btn-outline-secondary btn-sm" href="{% url 'account_login' %}">
                        로그인 후 댓글을 작성할 수 있습니다.</a>
                {% endif %}

            </div>
        </div>
    </div>



{% endblock %}










