{% extends 'forum/base_full_width.html' %}

{% block head-title %}
    달력수정
{% endblock %}

{% block custom_style %}
    <style>
        .bt-ft {
            font-size: 90%;
        }
    </style>
{% endblock %}

{% block main-area %}
    <form method="post" action="{% url 'workday:update' calculator.pk %}">{% csrf_token %}
        <h2 class="display-5 text-center mb-3">실출근 달력 수정</h2>

        <div class="d-flex justify-content-between">
            <div class="d-inline">
                <button type="button" class="btn btn-sm btn-secondary mx-1">휴일</button>
                <button type="button" class="btn btn-sm btn-outline-secondary mx-1">출근</button>
                <button type="button" class="btn btn-sm btn-primary mx-1">휴가</button>
                <button type="button" class="btn btn-sm btn-warning mx-1">전역</button>
            </div>
            <div class="d-inline">
                <button type="submit" class="btn btn-sm btn-outline-success">저장</button>
            </div>

        </div>

        <div class="row row-cols-1 row-cols-md-3 g-3 mt-1">
            {% for month, month_block in blocked_service_days %}
                <div class="col my-2 d-flex justify-content-center">
                    <div class="card text-center my-2" style="min-width: 350px;max-width: 380px;">
                        <div class="card-header">
                            <h5>{{ month.year }}-{{ month.month }}</h5>
                        </div>

                        <div class="card-body px-0" style="min-height: 300px">
                            {% for weekday in weekdays %}
                                <button type="button" class="btn text-dark my-1" style="width: 44px">
                                    <span class="bt-ft">{{ weekday }}</span>
                                </button>
                            {% endfor %}

                            {% for date in month_block %}
                                {% if date == None %}
                                    <button type="button" class="btn text-white my-1" disabled style="width: 44px">00
                                    </button>
                                {% elif date == calculator.start_date %}
                                    <button type="button" class="btn btn-outline-success my-1" style="width: 44px">
                                        <span class="bt-ft">{{ date|date:'d' }}</span>
                                    </button>
                                {% elif date == calculator.end_date %}
                                    <button type="button" class="btn btn-warning my-1" style="width: 44px">
                                        <span class="bt-ft">{{ date|date:'d' }}</span>
                                    </button>
                                {% elif date in leaves %}
                                    <button type="button" class="btn btn-primary my-1" style="width: 44px">
                                        <span class="bt-ft">{{ date|date:'d' }}</span>
                                    </button>
                                {% elif date in serviced_days %}
                                    <button type="button" class="btn btn-secondary my-1" style="width: 44px">
                                        <span class="bt-ft">{{ date|date:'d' }}</span>
                                    </button>
                                {% elif date in dayoffs %}
                                    <input type="checkbox" class="btn-check" id="{{ date|date:'Y-m-d' }}"
                                           autocomplete="off"
                                           name="dayoffs" value="{{ date|date:'Y-m-d' }}" checked>
                                    <label class="btn btn-outline-secondary my-1" style="width: 44px"
                                           for="{{ date|date:'Y-m-d' }}">
                                        <span class="bt-ft">{{ date|date:'d' }}</span>
                                    </label>
                                {% else %}
                                    <input type="checkbox" class="btn-check" id="{{ date|date:'Y-m-d' }}"
                                           autocomplete="off"
                                           name="dayoffs" value="{{ date|date:'Y-m-d' }}">
                                    <label class="btn btn-outline-secondary my-1" style="width: 44px"
                                           for="{{ date|date:'Y-m-d' }}">
                                        <span class="bt-ft">{{ date|date:'d' }}</span>
                                    </label>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </form>

{% endblock %}
