{% extends 'forum/base_full_width.html' %}

{% block head-title %}
    달력수정
{% endblock %}


{% block main-area %}

    <form method="post" action="{% url 'workday:update' calculator.pk %}">{% csrf_token %}
        <button type="submit" class="btn btn-primary float-end">수정</button>
        <h2 class="text-center"> 실출근 달력</h2>
        <div class="row justify-content-center">
            {% for month_block in blocked_service_days %}
                <div class="col-auto">
                    <div class="card text-center my-3" style="min-width: 350px;max-width: 380px;">
                        <div class="card-header">
                            <h5>{{ month_block.8.year }}-{{ month_block.8.month }}</h5>
                        </div>

                        <div class="card-body px-0">
                            {% for weekday in weekdays %}
                                <button type="button" class="btn text-dark"
                                        style="width: 44px">
                                    {{ weekday }}
                                </button>
                            {% endfor %}

                            {% for date in month_block %}
                                {% if date == None %}
                                    <button type="button" class="btn text-white" disabled>00</button>
                                {% elif date == calculator.start_date or date == calculator.end_date %}
                                    <button type="button"
                                            class="btn btn-warning">{{ date|date:'d' }}</button>
                                {% elif date in leaves %}
                                    <button type="button"
                                            class="btn btn-primary">{{ date|date:'d' }}</button>
                                {% elif date in serviced_days %}
                                    <button type="button"
                                            class="btn btn-secondary">{{ date|date:'d' }}</button>
                                {% elif date in dayoffs %}
                                    <input type="checkbox" class="btn-check" id="{{ date|date:'Y-m-d' }}"
                                           autocomplete="off"
                                           name="{{ date|date:'Y-m-d' }}" value="on" checked>
                                    <label class="btn btn-outline-secondary" for="{{ date|date:'Y-m-d' }}">
                                        {{ date|date:'d' }}</label>
                                {% else %}
                                    <input type="checkbox" class="btn-check" id="{{ date|date:'Y-m-d' }}"
                                           autocomplete="off"
                                           name="dayoffs" value="{{ date|date:'Y-m-d' }}">
                                    <label class="btn btn-outline-secondary" for="{{ date|date:'Y-m-d' }}">
                                        {{ date|date:'d' }}</label>
                                {% endif %}
                            {% endfor %}

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </form>

{% endblock %}
