{% extends 'forum/base_full_width.html' %}

{% block head-title %}
    달력수정
{% endblock %}

{% block custom_style %}
    <style>
        .my-btn-size {
            width: 12%;
            min-width: 3rem;
            height: 3rem;
        }
    </style>
{% endblock %}

{% block main-area %}

    <form method="post" action="{% url 'workday:update' calculator.pk %}">{% csrf_token %}
        <button type="submit" class="btn btn-primary float-end">수정</button>
        <h2 class="text-center"> 실출근 달력</h2>
        <div class="row">
            {% for month_block in blocked_service_days %}
                <div class="col my-3 d-flex justify-content-center text-center">
                    <div class="card" style="min-width: 400px;max-width: 550px;">
                        <div class="card-header">
                            <h5>{{ month_block.8.year }}-{{ month_block.8.month }}</h5>
                        </div>

                        <div class="card-body">
                            {% for weekday in weekdays %}
                                <button type="button" class="btn text-dark my-btn-size">
                                    {{ weekday }}
                                </button>
                            {% endfor %}
                            {% for date in month_block %}
                                {% if date == None %}
                                    <button type="button" class="btn my-btn-size" disabled></button>
                                {% elif date == calculator.start_date or date == calculator.end_date %}
                                    <button type="button"
                                            class="btn btn-warning my-btn-size">{{ date|date:'d' }}</button>
                                {% elif date in leaves %}
                                    <button type="button"
                                            class="btn btn-primary my-btn-size">{{ date|date:'d' }}</button>
                                {% elif date in serviced_days %}
                                    <button type="button"
                                            class="btn btn-secondary my-btn-size">{{ date|date:'d' }}</button>
                                    {% comment %}{% elif date in dayoff %}
                                <input type="checkbox" class="btn-check" id="{{ date|date:'Y-m-d' }}" autocomplete="off"
                                name="{{ date|date:'Y-m-d' }}" value="on" checked>
                                <label class="btn btn-outline-secondary my-btn-size" for="{{ date|date:'Y-m-d' }}">
                                    {{ date|date:'d' }}</label>{% endcomment %}
                                {% else %}
                                    <input type="checkbox" class="btn-check" id="{{ date|date:'Y-m-d' }}"
                                           autocomplete="off"
                                           name="dayoffs" value="{{ date|date:'Y-m-d' }}">
                                    <label class="btn btn-outline-secondary my-btn-size" for="{{ date|date:'Y-m-d' }}">
                                        {{ date|date:'d' }}</label>
                                {% endif %}
                            {% endfor %}

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </form>

{% endblock %}
