{% extends 'forum/base.html' %}
{% load static %}

{% block head-title %}
    {{ calculator.name }}
{% endblock %}

{% block custom_style %}
    <style>
        .bt-ft {
            font-size: 90%;
        }
    </style>
{% endblock %}

{% block main-area %}
    <div class="d-flex align-items-center p-3 my-3 rounded shadow-sm text-white" style="background-color: #6f42c1">
        <div class="lh-1">
            <h1 class="h6 mb-0 lh-1">Bootstrap</h1>
            <small>Since 2011</small>
        </div>
    </div>


    <div class="my-3 p-3 rounded shadow-sm">


        <article class="mb-5">
            <h1 class="mt-4">{{ calculator.name }}</h1>
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <p class="d-inline mx-2">
                        {{ calculator.author }}
                    </p>
                    <p class="d-inline text-muted mx-2">
                        {{ calculator.created_at|date:'Y-m-d H:i' }}
                    </p>
                </div>
                <div class="d-inline">
                    <!-- Calculator Delete-->
                    {% if user.is_authenticated and user == calculator.author %}
                        <a class="btn btn-outline-secondary mx-2" href="{% url 'workday:delete' calculator.pk %}"
                           role="button">
                            삭제
                        </a>
                    {% endif %}
                </div>
            </div>


            <hr>

            <div class="container my-5">
                <h3 class="text-center my-0">군복무 계산기</h3>
                <div class="d-flex justify-content-between align-items-center text-muted">
                    <div class="d-inline">
                        <p class="text-start my-0"><small>입대</small></p>
                        <p class="text-start my-0"><small>{{ calculator.start_date|date:'Y-m-d' }}</small></p>
                    </div>
                    <div class="d-inline">
                        <p class="text-end my-0"><small>전역</small></p>
                        <p class="text-end my-0"><small>{{ calculator.end_date|date:'Y-m-d' }}</small></p>
                    </div>
                </div>

                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                         style="width: {{ percent }}%"
                         aria-valuenow="{{ percent }}"
                         aria-valuemin="0" aria-valuemax="100">
                        {{ percent }}%
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-inline">
                        <p class="text-center my-0">복무 일수</p>
                        <p class="text-center my-0">{{ serviced_days|length }}일</p>
                    </div>
                    <div class="d-inline">
                        <p class="text-center my-0">복무 기간</p>
                        <p class="text-center my-0">{{ num_service_days }}일</p>
                    </div>
                    <div class="d-inline">
                        <p class="text-center my-0 fw-bold">남은 복무</p>
                        <p class="text-center my-0 fw-bold">{{ num_remain_days }}일</p>
                    </div>
                </div>
            </div>

            <div class="container my-5">
                <h3 class="text-center my-0">실출근 계산기</h3>
                <div class="d-flex justify-content-between align-items-center text-muted">
                    <div class="d-inline">
                        <p class="text-start my-0"><small>입대</small></p>
                        <p class="text-start my-0"><small>{{ calculator.start_date|date:'Y-m-d' }}</small></p>
                    </div>
                    <div class="d-inline">
                        <p class="text-end my-0"><small>막출</small></p>
                        <p class="text-end my-0"><small>{{ end_workday|date:'Y-m-d' }}</small></p>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar"
                         style="width: {{ workday_percent }}%"
                         aria-valuenow="{{ workday_percent }}"
                         aria-valuemin="0" aria-valuemax="100">
                        {{ workday_percent }}%
                    </div>
                </div>
                <div class="d-flex justify-content-end align-items-center">
                    <div class="d-inline">
                        <p class="text-center my-0 fw-bold">남은 출근</p>
                        <p class="text-center my-0 fw-bold">{{ num_workdays }}일</p>
                    </div>
                </div>
            </div>
        </article>
    </div>


    <!-- Leaves Table -->
    {% if user == calculator.author %}
        <a class="btn btn-outline-secondary btn-sm float-end" href="{% url 'workday:create_leave' calculator.pk %}"
           role="button">
            등록
        </a>
    {% endif %}
    <h3>휴가 목록</h3>

    <table class="table table-hover my-2">
        <thead>
        <tr class="text-center">
            <th scope="col">#</th>
            <th scope="col">종류</th>
            <th scope="col">출발</th>
            <th scope="col">복귀</th>
            <th scope="col">기간</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for leave in calculator.leave_set.all %}
            <tr class="text-center">
                <th scope="row">{{ forloop.counter }}</th>
                <td>개발중</td>
                <td>{{ leave.start_date|date:'y-m-d' }}</td>
                <td>{{ leave.end_date|date:'y-m-d' }}</td>
                <td>{{ leave.days.days }}</td>
                <td>
                    {% if user == calculator.author %}
                        <a class="btn btn-close float-end"
                           href="{% url 'workday:delete_leave' calculator.pk leave.pk %}"
                           role="button">
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        <tr class="text-center">
            <th scope="row">계</th>
            <td></td>
            <td></td>
            <td></td>
            <td class="fw-bold">{{ num_leaves }}</td>
            <td></td>
        </tr>
        </tbody>
    </table>


    <!-- Calendar -->
    <div class="d-flex justify-content-between mt-5">
        <div class="d-inline">
            <button type="button" class="btn btn-sm btn-secondary mx-1">휴일</button>
            <button type="button" class="btn btn-sm btn-primary mx-1">휴가</button>
            <button type="button" class="btn btn-sm btn-warning mx-1">전역</button>
        </div>

        <div class="d-inline">
            <a href="{% url 'workday:update' calculator.pk %}" role="button" class="btn btn-sm btn-outline-success">
                달력 수정
            </a>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-3">
        {% for month, month_block in blocked_service_days %}
            <div class="col d-flex justify-content-center">
                <div class="card text-center my-3" style="min-width: 350px; max-width: 380px">
                    <div class="card-header">
                        <h5>{{ month.year }}-{{ month.month }}</h5>
                    </div>

                    <div class="card-body px-0" style="min-height: 300px">
                        {% for weekday in weekdays %}
                            <button type="button" class="btn text-dark" style="width: 44px">
                                <span>{{ weekday }}</span>
                            </button>
                        {% endfor %}

                        {% for date in month_block %}
                            {% if date == None %}
                                <button type="button" class="btn text-white my-1" disabled style="width: 44px">
                                    <span class="bt-ft">00</span>
                                </button>
                            {% elif date == today %}
                                <button type="button" class="btn btn-outline-success my-1" style="width: 44px">
                                    <span class="bt-ft">{{ date|date:'d' }}</span>
                                </button>
                            {% elif date == calculator.end_date %}
                                <button type="button" class="btn btn-warning my-1" style="width: 44px">
                                    <span class="bt-ft">{{ date|date:'d' }}</span>
                                </button>
                            {% elif date in leaves %}
                                <button type="button" class="btn btn-primary my-1" style="width: 44px">
                                    <span class="bt-ft">{{ date|date:'d' }}</span>
                                </button>
                            {% elif date in serviced_days or date in dayoffs %}
                                <button type="button" class="btn btn-secondary my-1" style="width: 44px">
                                    <span class="bt-ft">{{ date|date:'d' }}</span>
                                </button>
                            {% else %}
                                <button type="button" class="btn btn-outline-secondary my-1" style="width: 44px">
                                    <span class="bt-ft">{{ date|date:'d' }}</span>
                                </button>
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
