{% extends 'forum/base.html' %}
{% load crispy_forms_filters %}

{% load crispy_forms_tags %}

{% block head-title %}
    휴가 삭제
{% endblock %}

{% block main-area %}

    <!-- Sub Banner -->
    {% include 'home/home_sub_banner.html' %}


    <div class="my-3 p-3 bg-body rounded shadow-sm">
        <table class="table my-2">
            <thead>
            <tr class="text-center">
                <th scope="col">출발</th>
                <th scope="col">복귀</th>
                <th scope="col">기간</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-center">
                <td>{{ leave.start_date|date:'y-m-d' }}</td>
                <td>{{ leave.end_date|date:'y-m-d' }}</td>
                <td>{{ leave.days.days }}</td>
            </tr>
            </tbody>
        </table>
        <form method="post" enctype="multipart/form-data"> {% csrf_token %}

            <p class="text-end">휴가를 <strong>삭제</strong>하시겠습니까?</p>

            <div class="d-flex justify-content-end my-3">
                <button type="submit" class="btn btn-danger">삭제</button>
            </div>
        </form>
    </div>

{% endblock %}