{% extends 'forum/base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block head-title %}
    {{ barracks.name }}
{% endblock %}


{% block main-area %}

    <!-- Sub Banner -->
    {% include 'home/home_sub_banner.html' %}

    <div class="my-3 p-3 rounded shadow-sm">

        <article class="mb-5">

            <div class="float-end justify-content-end">

                {% if current_calculator not in barracks.members.all %}
                    <a class="btn btn-outline-secondary btn-sm"
                       href="{% url "barracks:transfer_to_barracks" barracks.pk %}"
                       role="button">입장</a>
                {% endif %}

                {% if current_calculator in barracks.members.all %}
                    <a class="btn btn-outline-secondary btn-sm"
                       href="{% url "barracks:search_calculator" barracks.pk %}"
                       role="button">초대</a>
                    <a class="btn btn-outline-secondary btn-sm"
                       href="{% url "barracks:barracks_settings" barracks.pk %}"
                       role="button">설정</a>
                    <a class="btn btn-outline-danger btn-sm" href="{% url "barracks:quit_barracks" barracks.pk %}"
                    role="button">퇴장</a>
                {% endif %}
            </div>

            <h1 class="d-flex mt-3 align-items-center">{{ barracks.name }}</h1>


            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <p class="d-inline text-muted mx-2">
                        {{ barracks.created_at|date:'Y-m-d H:i' }}
                    </p>
                </div>
            </div>

            <hr>

            <div class="card-group mb-5">
                {% for calculator_color, info in calculator_list_percent_order.items %}

                    <div class="card rounded border-{{ calculator_color.1 }} mx-3" style="max-width: 18rem;">
                        <div class="card-header bg-{{ calculator_color.1 }} py-1
                        d-flex justify-content-between align-items-center">
                            <a href="{% url 'workday:detail' calculator_color.0.pk %}"
                               class="card-link  d-inline text-decoration-none text-dark">
                                {{ calculator_color.0.name }}
                                <div class="d-inline text-muted small align-baseliner">
                                    <small>{{ calculator_color.0.author }}</small></div>
                            </a>
                            <p class="card-subtitle small text-white">
                                <small>입대 : {{ calculator_color.0.start_date|date:'Y/m/d' }}</small></p>
                        </div>

                        <div class="card-body py-1">
                            <div class="card-text d-flex justify-content-between align-items-center">
                                <p class="d-inline small text-muted my-0">
                                    <small>{{ calculator_color.0.end_date |date:'Y/m/d' }}</small>
                                </p>
                                <p class="d-inline small text-muted my-0">
                                    <small>{{ info.end_workday |date:'Y/m/d' }}</small>
                                </p>
                            </div>
                            <div class="card-text d-flex justify-content-between align-items-center">
                                <div class="d-inline">
                                    <p class="my-0">
                                        전역 <span class="badge bg-secondary">D-{{ info.num_remain_days }}</span>
                                    </p>
                                </div>
                                <div class="d-inline">
                                    <p class="my-0">
                                        막출 <span class="badge bg-secondary">D-{{ info.num_workdays }}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <!-- 군복무율 순위-->
            <div class="container my-3">
                <div class="d-flex justify-content-between align-items-end">
                    <p class="d-inline my-0 small"><small>입대</small></p>
                    <h3 class="d-inline my-0">복무율 순위</h3>
                    <p class="d-inline my-0 small"><small>전역</small></p>
                </div>

                {% for calculator_color, info in calculator_list_percent_order.items %}
                    <div class="d-flex justify-content-between align-items-end text-muted">
                        <p class="d-inline text-start my-0 small">
                            <small>{{ calculator_color.0.start_date|date:'Y/m/d' }}</small>
                        </p>
                        <div class="d-inline">

                            <p class="text-end my-0 small">
                                <small>{{ calculator_color.0.end_date|date:'Y/m/d' }}</small></p>
                        </div>
                    </div>

                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-{{ calculator_color.1 }}"
                             role="progressbar"
                             style="width: {{ info.percent }}%"
                             aria-valuenow="{{ info.percent }}"
                             aria-valuemin="0" aria-valuemax="100">
                            {{ info.percent }}%
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="d-inline my-0 fw-bold small">{{ forloop.counter }}위 {{ calculator_color.0.name }}</p>
                        <p class="d-inline my-0 fw-bold small">D-{{ info.num_remain_days }}</p>
                    </div>
                {% endfor %}
            </div>

            <!-- 실출근율 순위-->
            <div class="container mt-5">
                <div class="d-flex justify-content-between align-items-end">
                    <p class="d-inline my-0 small"><small>입대</small></p>
                    <h3 class="d-inline my-0">실출근 순위</h3>
                    <p class="d-inline my-0 small"><small>막출</small></p>
                </div>

                {% for calculator_color, info in calculator_list_workday_order.items %}
                    <div class="d-flex justify-content-between align-items-end text-muted">
                        <p class="d-inline text-start my-0 small">
                            <small>{{ calculator_color.0.start_date|date:'Y/m/d' }}</small>
                        </p>
                        <div class="d-inline">
                            <p class="text-end my-0 small">
                                <small>{{ info.end_workday|date:'Y/m/d' }}</small>
                            </p>
                        </div>
                    </div>


                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-{{ calculator_color.1 }}"
                             role="progressbar"
                             style="width: {{ info.workday_percent }}%"
                             aria-valuenow="{{ info.workday_percent }}"
                             aria-valuemin="0" aria-valuemax="100">
                            {{ info.workday_percent }}%
                        </div>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <p class="d-inline my-0 fw-bold small">{{ forloop.counter }}위 {{ calculator_color.0.name }}</p>
                        <p class="d-inline my-0 fw-bold small">D-{{ info.num_workdays }}</p>
                    </div>
                {% endfor %}
            </div>

        </article>


        <!-- 휴가 순위 -->

        <h3 class="text-center mb-4">휴가 순위</h3>

        {% for calculator_color, leave in calculator_leave_list.items %}
            <div class="progress">

                {% if leave.ye.0 %}
                    <div class="progress-bar text-white progress-bar-striped progress-bar-animated" role="progressbar"
                         style="width: {{ leave.ye.1 }}%; background-color: #84459E">
                        연가{{ leave.ye.0 }}
                    </div>
                {% endif %}

                {% if leave.po.0 %}
                    <div class="progress-bar text-white progress-bar-striped progress-bar-animated" role="progressbar"
                         style="width: {{ leave.po.1 }}%; background-color: #57459E">
                        포상{{ leave.po.0 }}
                    </div>
                {% endif %}

                {% if leave.wi.0 %}
                    <div class="progress-bar text-white progress-bar-striped progress-bar-animated" role="progressbar"
                         style="width: {{ leave.wi.1 }}%; background-color: #455F9E">
                        위로{{ leave.wi.0 }}
                    </div>
                {% endif %}

                {% if leave.bo.0 %}

                    <div class="progress-bar text-white progress-bar-striped progress-bar-animated" role="progressbar"
                         style="width: {{ leave.bo.1 }}%; background-color: #458C9E">
                        보상{{ leave.bo.0 }}
                    </div>
                {% endif %}

                {% if leave.ch.0 %}
                    <div class="progress-bar text-white progress-bar-striped progress-bar-animated" role="progressbar"
                         style="width: {{ leave.ch.1 }}%; background-color: #459E84">
                        청원{{ leave.ch.0 }}
                    </div>
                {% endif %}

                {% if leave.tp.0 %}
                    <div class="progress-bar text-white progress-bar-striped progress-bar-animated" role="progressbar"
                         style="width:{{ leave.tp.1 }}%; background-color: #459E57">
                        예정{{ leave.tp.0 }}
                    </div>
                {% endif %}


            </div>

            <div class="d-flex justify-content-between align-items-start  mb-1">
                <p class="d-inline my-0 fw-bold small text-{{ calculator_color.1 }}">
                    {{ forloop.counter }}위 {{ calculator_color.0.name }}
                </p>
                <p class="d-inline my-0 fw-bold small">{{ leave.total.0 }}일</p>
            </div>
        {% endfor %}


        <!-- GuestBook-->
        <div class="my-3 p-3 container">
            <h4 class="border-bottom pb-2 mb-0">방명록</h4>

            {% if barracks.guestbook_set.exists %}

                {% for guestbook in barracks.guestbook_set.all %}

                    <div class="d-flex  pt-3">
                        <div class="pb-2 mb-0 small lh-sm border-bottom w-100">

                            <div class="float-end">
                                {% if user.is_authenticated and guestbook.author == user %}
                                    <a href="{% url 'barracks:guest_book_update' guestbook.pk %}"
                                       class="text-dark text-decoration-none">
                                        <small>수정</small>
                                    </a>
                                    <a class="text-dark text-decoration-none" href="#" data-bs-toggle="modal"
                                       data-bs-target="#deleteGuestBookModal-{{ guestbook.pk }}">
                                        <small>삭제</small>
                                    </a>
                                {% endif %}
                            </div>

                            <div class="d-inline">
                                <strong class="text-gray-dark">{{ guestbook.author.username }}</strong> |
                                {% if guestbook.calculator %}
                                    <strong class="text-gray-dark">{{ guestbook.calculator.name }}</strong>
                                {% endif %}
                                <div class="d-inline text-muted small">{{ guestbook.modified_at|date:'Y/m/d H:i' }}</div>
                            </div>


                            <p class="small lh-sm text-muted">{{ guestbook.content|linebreaks }}</p>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="deleteGuestBookModal-{{ guestbook.pk }}" tabindex="-1"
                         aria-labelledby="deleteModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">

                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel">방명록을 삭제하시겠습니까?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <del>{{ guestbook.content|linebreaks }}</del>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소
                                    </button>
                                    <a role="button" class="btn btn-danger"
                                       href="{% url 'barracks:guest_book_delete'  guestbook.pk %}">삭제</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

            <!-- GuestBook form-->
            <div class="card my-4 text-center">
                <div class="card-body">
                    {% if user.is_authenticated %}
                        <form id="comment-form" method="POST" action="{{ barracks.get_absolute_url }}new_guest_book/">
                            {% csrf_token %}
                            <div class="form-group">{{ guest_book_form|crispy }}</div>
                            <button class="btn btn-sm btn-primary float-end mt-1" type="submit">작성</button>
                        </form>

                    {% else %}
                        <button type="button" class="btn btn-sm btn-block " data-bs-toggle="modal"
                                data-bs-target="#loginModal" style="border-color: #9F81F7">
                            로그인 후 방명록을 작성할 수 있습니다.
                        </button>
                    {% endif %}

                </div>
            </div>
        </div>


    </div>



{% endblock %}
