{% load static %}

<div class="container px-0 pb-2">

    <!-- Header -->
    <h2 class="pb-2 border-bottom text-shadow-1">미접종 식당 가이드란?</h2>
    <p class="text-muted">2022-01-03 by <strong>goda</strong></p>

    <!-- Card -->
    <div class="card rounded rounded-3" id="About">
        <img src="{% static 'corona_home/main_poster.png' %}" class="card-img-top" alt="미접종 식당 가이드 홍보 포스터">

        <!-- About & Policy -->
        <div class="card-body">

            <!-- About -->
            <p class="card-text small">
                미접종 식당 가이드는 미접종 친절/거부 식당 정보를 공유하는 커뮤니티입니다.
                식당 이용/운영 경험이 있다면 누구나 커뮤니티에 참여할 수 있습니다.
            </p>

            <!-- Policy -->
            <div class="card-text small">
                <div class="text-muted small">
                    <p class="small text-muted">
                        다만, 서비스의 부작용과 악용으로 이용자와 업주분께 피해를 끼치는 사례를 최소화하기 위하여 현재 다음과 같은
                        <span class="fw-bold text-dark">서비스 정책</span>을 채택하고 있습니다.
                    </p>
                </div>

                <div>
                    <p class="my-0">1. 식당 정보 조회</p>
                    <p class="small text-muted">식당 정보 조회는 누구든지 자유롭게 가능합니다.</p>
                </div>

                <div>
                    <p class="my-0">2. 식당 정보 등록</p>
                    <p class="small text-muted">가입자에 한에서 식당 정보 등록이 가능합니다.</p>
                </div>

                <div>
                    <p class="my-0">3. 식당 정보 수정</p>
                    <p class="small text-muted">가입자에 한에서 식당 정보 수정이 가능하며, 최초 작성자 이외에도 누구나 식당 정보를 수정할 수 있습니다.
                        다만, 상세 내용의 경우 최초 작성자만 수정할 수 있습니다.</p>
                </div>

                <div>
                    <p class="my-0">4. 식당 정보 삭제</p>
                    <p class="small text-muted mb-0">최초 작성자는 식당 정보를 즉시 삭제할 수 있으며, 가입자에 한에서 식당 정보 삭제 요청을 할 수 있습니다.</p>
                </div>

            </div>

        </div>

        <!-- Review Step Update Notification -->
        <div class="card-footer">
            <div class="card-text small">
                <p class="small my-0">
                    또한 지난 1차 사용자 간담회를 통해 식당 정보 등록/수정/삭제 과정의 중간 단계로
                    <span class="text-success fw-bold">검토 단계</span>를 도입하는 정책 개선 제안되었습니다.
                    빠른 시일내 관련 기능이 업데이트 되어 식당 정보의 오류를 최소화하도록 노력하겠습니다.
                    마지막으로 간담회에서 의견을 주신 모든 분께 감사의 인사를 올립니다.
                </p>
            </div>
        </div>

    </div>

</div>


<!-- Release Notes -->
<div class="container px-0 py-2 mb-2" id="개발일기">
    <h4 class="h2 pb-2 border-bottom text-shadow-1">개발 일기</h4>

    <!-- v1.0.1 -->
    <div class=" d-flex justify-content-ceter align-items-start small">
        <div class="d-block mx-3">

            <p class="mb-0 small">v1.0.1 <small>2022. 01. 03.</small></p>
            <p class="small text-muted mb-1"><small>지역/분류별 지도 로딩 기능 업데이트</small></p>
            <p class="small text-muted mb-1"><small>방역패스 홍모물 게시</small></p>
            <p class="small text-muted mb-1"><small>홈페이지 도입</small></p>

            <p class="mb-0 small"> v1.0.0 <small>2021. 12. 26.</small></p>
            <p class="small text-muted mb-1"><small>서비스 릴리즈</small></p>

            <p class="mb-0 mt-2 small"> 알림</p>
            <p class="small text-muted mb-1">
                <small>
                    실제로는 2021. 12. 26 ~ 01. 01까지 다수의 업데이트가 진행되었지만, 기록을 누락하였습니다.
                    v1.0.1이후로는 정확하게 기재하도록 하겠습니다. 양해부탁드립니다.
                </small>
            </p>

        </div>
    </div>
</div>

