{% extends 'corona/base.html' %}
{% load static %}
{% load humanize %}
{% block head-title %}
    Contributors
{% endblock %}
{% block head_script %}
    <script src="https://asset.talkplus.io/talkplus-js-0.2.8.js"></script>
{% endblock %}


{% block custom_style %}
    <link href="{% static 'forum/css/scroll_nav.css' %}" rel="stylesheet" type="text/css" media="screen">
{% endblock %}

{% block main-area %}







    <!-- Sub Banner -->
    {% include 'corona/sub_banner.html' %}


    <div class="my-3 p-3 bg-body rounded shadow-sm">

        <div class="container">
            <h5 class="mb-4 text-success"><i class="fas fa-award"></i> Contributors :</h5>


            <div class="m-2 mb-5">
                <p class="text-muted m-0"><i class="far fa-edit"></i> 정보 수정에 도움을 주신 분</p>
                <p class="small m-3 mt-1 fw-bold">
                    박양민 <i class="fas fa-feather-alt" style="color: navy"></i>
                </p>

                <p class="text-muted m-0"><i class="fas fa-users"></i> 정책 수립에 도움을 주신 분</p>
                <p class="text-muted mx-3 m-0 small"><small>제1회 사용자 간담회(2021.12.30)</small></p>
                <p class="small mx-3 mt-1 my-0 fw-bold">
                    박양민 <i class="far fa-handshake" style="color:cadetblue"></i>
                </p>
                <p class="small mx-3 mt-1 my-0 fw-bold">
                    유승아 <i class="far fa-handshake" style="color:cadetblue"></i>
                </p>
                <p class="small mx-3 mt-1 my-0 fw-bold">
                    Seok <i class="far fa-handshake" style="color:cadetblue"></i>
                </p>
            </div>

            <div class="small mb-4 mx-3">
                <p class="text-muted m-0 mb-2 small">
                    오늘 방문자
                    <span class="badge small bg-light rounded-pill text-dark">
                        {{ today.num_users|intcomma }}
                    </span>

                    오늘 조회수
                    <span class="badge bg-light rounded-pill text-dark">
                        {{ today.num_pageviews|intcomma }}
                    </span>
                </p>

                <p class="text-muted m-0 mb-4 small">
                    전체 방문자
                    <span class="badge small bg-light rounded-pill text-dark">
                        {{ total.num_users|intcomma }}
                    </span>

                    전체 조회수
                    <span class="badge bg-light rounded-pill text-dark">
                        {{ total.num_pageviews|intcomma }}
                    </span>
                </p>
            </div>

            <p class="small m-2 mt-4">
                <small class="text-muted">
                    안녕하세요, 고다입니다.
                    커뮤니티 발전에 도움을 주신 분께 조금이라도 선물을 드리고자 이렇게 Contributors 페이지를 오픈하게 되었습니다.
                    뿐만 아니라 미접종 식당 가이드에 참여해주신 모든 분께
                    다시 한번 진심으로 감사드립니다.
                </small>
            </p>

        </div>


        <!-- container element in which TalkJS will display a chat UI -->
        <div id="talkjs-container" style="width: 90%; margin: 30px; height: 500px">
            <i>Loading chat...</i>
        </div>
    </div>


{% endblock %}

{% block script %}
    <!-- minified snippet to load TalkJS without delaying your page -->
    <script>
        (function (t, a, l, k, j, s) {
            s = a.createElement('script');
            s.async = 1;
            s.src = "https://cdn.talkjs.com/talk.js";
            a.head.appendChild(s)
            ;k = t.Promise;
            t.Talk = {
                v: 3, ready: {
                    then: function (f) {
                        if (k) return new k(function (r, e) {
                            l.push([f, r, e])
                        });
                        l
                            .push([f])
                    }, catch: function () {
                        return k && new k()
                    }, c: l
                }
            };
        })(window, document, []);


        Talk.ready.then(function () {
            var me = new Talk.User({
                id: '123456',
                name: 'Alice',
                email: 'alice@example.com',
                photoUrl: 'https://demo.talkjs.com/img/alice.jpg',
                welcomeMessage: 'Hey there! How are you? :-)',
                role: "admin"
            });
            window.talkSession = new Talk.Session({
                appId: 'tsLI8nZv',
                me: me,
            });
            var other1 = new Talk.User({
                id: "654321",
                name: "Sebastian",
                email: "sebastian@example.com",
                role: "general"
            });

            var other2 = new Talk.User({
                id: "456789",
                name: "Steve",
                email: "steve@example.com",
                role: "general"
            });

            var other3 = new Talk.User({
                id: "124141",
                name: "asdw",
                email: "steve@example.com",
                role: "general"
            });

            var conversation = window.talkSession.getOrCreateConversation("CONVERSATION_ID");
            conversation.setParticipant(me);
            conversation.setParticipant(other1);
            conversation.setParticipant(other2);
            conversation.setParticipant(other3);
            conversation.setAttributes({
                photoUrl: "https://demo.talkjs.com/img/11.jpg",
                subject: "Beautiful Steel Preserve for rent!"
            });

            {#var inbox = talkSession.createInbox({selected: conversation});#}
            {#inbox.mount(document.getElementById('talkjs-container'));#}

            var chatbox = window.talkSession.createChatbox();
            chatbox.select(conversation);
            chatbox.mount(document.getElementById('talkjs-container'));

        });
    </script>


{% endblock %}



