{% load cache %}
{% load embed_video_tags %}


<!-- Videos -->
<div class="row g-0 border rounded overflow-hidden flex-md-row mb-3 shadow-sm h-md-300 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
        <a href="{% url 'video_forum:index' %}"
           class="text-decoration-none d-flex justify-content-between">
            <strong class="d-inline-block mb-2 text-success">최근 비디오</strong>
            <small class="d-inline-block mb-2 text-muted"><small>더 알아보기</small></small>
        </a>

        <!-- Most Likes-->
        {% cache 120 most_recently_videos %}
            <div class="list-group-flush">
                {% for video in most_recently_videos %}
                    <a href="{% url 'video_forum:detail' video.pk %}"
                       class="list-group-item list-group-item-action"
                       style="border: 0">

                        <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                            <h3 class="h6 text-dark">{{ video.title|truncatechars:30 }}</h3>

                            <div class="d-block">
                                {% video video.url '100% x 160' %}
                            </div>


                            <div class="d-flex text-muted justify-content-between small mt-1">
                                <div class="d-inline">

                                    {% if video.is_anonymous %}
                                        <strong class="text-gray-dark">익명</strong>
                                    {% else %}
                                        <strong class="text-gray-dark">{{ video.author }}</strong>
                                    {% endif %}

                                    <div class="d-inline"> {{ video.created_at|date:'m-d H:i' }} </div>
                                </div>
                                <div class="d-inline">
                                    <div class="d-inline"><i
                                            class="fas fa-heart text-danger"></i> {{ video.num_likes }}
                                    </div>
                                    <div class="d-inline"><i
                                            class="far fa-comment text-success"></i> {{ video.num_comments }}
                                    </div>
                                    <div class="d-inline"><i
                                            class="far fa-eye"></i> {{ video.hit_count.hits }}</div>
                                </div>
                            </div>
                            <div class="d-inline small">
                                {% if video.tags.exists %}
                                    <i class="fas fa-tags small"></i>
                                    {% for tag in video.tags.iterator %}
                                        <span class="badge rounded-pill small"
                                              style="background-color: darkseagreen">{{ tag }}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </a>
                {% endfor %}

            </div>
        {% endcache %}
    </div>
</div>
